  .containeurMobileAll{
    background: var(--color-blanche-1);
    width:100vw;
    height:100vh;
    background: var(--color-blanche-1);
    margin:0;
    padding:0;
}
.MobilNavPageMobile{
    width:100%;
    height:13%;
    display: flex;
    align-items: center;
    border-bottom:  1px solid var(--color-blanche-2);
    position: fixed;
    top: 0;
}
.titre_animation.accueil.interd{
    color: transparent;
    font-size: 25PX;
    -webkit-text-stroke:  3px var(--color-titre) !important;
    -webkit-background-clip: text;
    background-size: contain;
    background-position: 0 0;
    }
.containeurMobileHeaderPageMobile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height:100%;
    padding: 10px 0;
    
}
.parentOptionMobile{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.rightsideIconMobile i,.headerTittre i{
    font-size:20px
}
.rightsideIconMobile{
    display:flex;align-items:center;
    justify-content: space-around;
    width: 50%;
}
.topMobileHeader{
    width:100%;
    display:flex;align-items:center;
    justify-content: space-between;
    height:100%;
    
}
.topMobileHeader i{
    color:#BDBDBD;
}
.ligneDiv{
    width:90%;
    margin:10px auto;
    border-bottom: 1px solid var(--color-blanche-2);
}
.FooterMob{
    position: fixed;
    bottom: 0;
    width:100%;
    height:13%;
    border-top:  1px solid var(--color-blanche-2);
}
.containeurOptions{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.optionMobileIconsBottom{
    display:flex;
    display: flex;
    height:100%;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:7px;
}
.optionMobileIconsBottom i{
    color:#BDBDBD;
}
.optionMobileIconsBottom span{
    font-size: 13px;
    opacity: .5;
}

.swiper.mySwiper.chatswipper,
.swiper-wrapper.chatswipper
{
    width:100%;
    height:100%;
}
.swipper-slide.principale.chat{
    background: var(--color-blanche-1);
}
.filActualites{
    width: 100%;
    height: 100%;
    max-height: 73vh;
    overflow-y: auto;
    padding-bottom: 30px;
}
.ContaineurMobileSestionPage{
    width: 100%;
    height :100%;
    background: var(--color-blanche-1);
    position: relative;
    margin-top:13vh;
}
.topContEplazaMoil{
    width: 100%;
    max-height: 87%;
    overflow: auto;
    background: var(--color-blanche-1);
    position: relative;
    margin-top:0;
}
.swiper-wrapper.primcipaleMobile,.swiper-slide.principale{
    width:100vw;
    height:100vh;
    background:var(--color-blanche-1);
    position: relative;
}
.CreatiomsuivantBoutonsGroupe{
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 0;
}
.continuBtnMobile i{
    color:#FFF;
}
.ContaineurMobileSestionPage .CreatiomsuivantBoutonsGroupe{
bottom: 15vh;
left:15px !important;
z-index:var(--z-index-1) !important;
}
.continuBtnMobile{
    width:55px;
    height: 55px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
    position: relative;
}
.headerTittre{
    display: flex;
    width:100%;
    border-bottom: 1px solid    var(--color-blanche-2);
    padding:15px;
    height: 60px;
    justify-content: space-between;
}
.RecherchSpace input{
    width: 100%;
    margin-left:5px;
    height: 100%;
    background: transparent;
    color: var(--color-text);
}
.RecherchSpace i{
    padding-left: 5px;
}
.creationGroupe{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}
.RecherchSpace{
    width:95%;
    margin:5px auto;
    border-radius: 30px;
    height: 60px;
    padding:0 10px;
    background: var(--color-blanche-2);
    display:flex;
    align-items:center;
    justify-content: flex-start;
}
.RecherchSpace.Groupe.Unes{
    background: transparent;
    border: 1px solid var(--color-blanche-2);
}
.oprionMoreParametre{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
}
.menuMobilepage{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    border-bottom: 1px solid var(--color-blanche-2);
    width: 100%;
    gap:10px;
}
.conteneuramis.ContMobile .photoamis{
    width:70px;
    height:70px;
}
.gridElements{
    width: 98%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    margin: 5px auto;
    

}
.element{
    background: var(--color-linear-white);
    animation: skeletonAnimation 2s linear infinite;
    background-size: 200% 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid var(--color-blanche-2);
}
  .conteneuramis.album {
    background: var(--color-linear-white);
    animation: skeletonAnimation 2s linear infinite;
    background-size: 200% 100%;
    border-radius:5px;
    margin:2px auto;
    height:200px;
    border:1px solid var(--color-blanche-2);
  }
.swiper-slide.principale .CreatiomsuivantBoutonsGroupe{
    display: none;
}
.InterOptionHomePage{
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    background:var(--color-blanche-1);
    padding: 0;
    overflow: hidden;
    z-index: -1;
    transition: transform .2s,width 0.5s,height .5s;
    transition-delay: 1s,0.2s ,0.2s;
}
.continuBtnMobile.active .InterOptionHomePage{
    background: var(--color-blanche-1);
    width: 300px;
    transform: translateY(-190px);
    border-radius: 5px;
    margin-left: 220px;
    overflow: hidden;
    z-index: 1;
    height: 300px;
    box-shadow: var(--boxshadow_section_blanche);
    transition-delay: .1s,0.1s ,0.1s;
}
.continuBtnMobile.active .InterOptionHomePage .menuMobilepage i{
    color: #BDBDBD;
}
.continuBtnMobile.active .InterOptionHomePage .menuMobilepage{
    border-bottom:  1px solid var(--color-blanche-2);
padding: 12px;
}
.continuBtnMobile.active .InterOptionHomePage .menuMobilepage:last-child{
    border-bottom: none;
}
.carterThete{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerTheme{
    width:100%;
    height: 60px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}
.thermeCarteInterface{
    width: 90%;
    margin: 10px auto;
    background: var(--color-blanche-1);
    height: 50%;
    border-radius: 0 0 5px 5px;
}
.styleTheme{
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0, 0, .5);
    z-index: 10000000000 !important;
    display:none;
}
.contentThemeMobile .textEplaza{
    margin-top: 20px;
}
.containeurDec{
    width: 100%;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}
.nameUser{
    font-size: 23px;
    margin-bottom: 10px;
}
.seconnecter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: 1px solid var(--color-blanche-2);
    border-radius: 20px;
    margin: 10px auto;
    width:80%;
}

.titreLinge{
    padding:10px;
    font-size: 23px;
}
.contenu{
    margin: 10px;
    width: 100%;
    color:#9e9e9e;
}
.btnCreation .seconnecter{
    background: transparent;
    border: 1px solid  var(--color-blanche-2);
    color: var(--color-text);
    padding: 15px;
}
.imageuserDec{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background:var(--color-blanche-2);
    margin-bottom: 15px;
}

.seconnecter.newcompte{
    background: var(--color-primary);
    color: #FFF;
    width: 95%;
    border-radius: 5px;
    padding: 15px;
    border: none;
}
.btnCreation{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenuDataPrincipe{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    
}
.imageOwner{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-blanche-2);
}
.textNotification{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;

}
.headerNotification{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
    color: #FFF;
    height: 50px;
}
.menuMobile.active{
    max-height: 35%;
    height: 100%;
}
.menuMobile{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--color-blanche-2);
    max-height: 0;
    overflow: hidden;
    height: 100%;
    transition: all .2s ease;
}

.menuMobile .menuMobilepage:nth-child(3){
    border: none;
}
.menuMobile .menuMobilepage{
    border-bottom: 1px solid #FFF;
}
.iconNotification{
    position: absolute;
    right: 10px;
    font-size: 20px;
}
.hraderNotification{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px
}
.contaieneurNotification{
    width: 100%;
    height: fit-content;
    background: var(--color-blanche-1);
    padding: 5px 8px;
    margin-bottom: 1px;
    border-bottom:  1px solid   var(--color-blanche-2);
}
.bottomCreationNianda{
    position: fixed;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.bottomCreationNianda .fa-solid.fa-paper-plane{
    display: none;
    color:var(--color-primary);
    
}
.bottomCreationNianda .RecherchSpace input{
    margin-left: 15px;
}
.bottomCreationNianda .RecherchSpace{
    margin-left: 15px;
    background: var(--color-blanche-1);
    
    border: 1px solid var(--color-blanche-2);
}
.contentBtnName input{
    width: 100%;
    height: 100%;
    padding-left: 15px;
}
.contentBtnName{
    width: 98%;
    margin: 5px auto;
    border: 1px solid var(--color-blanche-2);
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MobilCreationGroupe{
    width: 98%;
    margin: 5px auto;
    height: 60%;
    background-color:var(--color-blanche-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.InputDouble{
    width: 98%;
    margin: 5px auto;
}
.MobilCreationGroupe img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.InputDouble .contentBtnName:nth-child(2){
background:var(--color-primary);
color:#FFFF;
border: none;
border-radius: 5px;
display: none;
}
.seconnecter.newGroupe i{
    padding-right: 10px;
    
}
.seconnecter.newGroupe{
    background: transparent;
    border: 1px solid var(--color-blanche-2);
    color: var(--color-text);
    width: 90%;
    display: flex;
    border-radius: 10px;
}
.carterUsermessage{
    background: var(--color-blanche-2);
}
.bottomSideEplaza small{
    font-size: 13px;
    opacity: .8;
}
.bottomSideEplaza span{
    font-weight: 500;
}
.bottomSideEplaza{
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: flex-start;
    flex-direction: column;
}
.eplazaPropositions{
    margin: 5px auto;
}
.eplazaPropositions .swiper.mySwiper,
.FridnsSlid .swiper.mySwiper,
.FridnsSlid .swiper-wrapper,
.eplazaPropositions .swiper-wrapper,
.eplazaPropositions .swiper-slide{
    width: 100%;
    height: 100%;   
}
.eplazaPropositions .swiper-slide{
    height: 230px !important;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    border: none;
    overflow-y: hidden;
    gap:5px;
    padding: 3px;
    padding-bottom: 5px;
    background: var(--color-blanche-2) !important;
    border-radius: 3px;
}
.bottomSideEplaza button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--otherGreen);
    color: #FFF;
    border-radius: 5px;
    padding: 10px 10px;
}
.topsideEplaza{
    background: var(--color-blanche-1) !important;
    width: 100%;
    border-radius: 5px;
    height: 60%;
    
}
.FridnsSlid{
    margin: 10px auto;
}
.FridnsSlid .swiper.mySwiper .swiper-wrapper .swiper-slide {
    display: flex !important;
    width: 100px !important;
    align-items: center;
    justify-content: center !important;
    flex-direction: column !;
    gap: 10px;
    border:1px solid var(--color-blanche-1);
    
}
.FridnsSlid .swiper-slide .nameDetailsMobile{
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FridnsSlid .swiper-slide .topImageUser img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.FridnsSlid .swiper-slide .topImageUser{
    width: 90px !important;
    border-radius: 50%;
    height: 90px !important;
    background: var(--color-blanche-2) !important;
    border: 2px solid var(--color-primary);
}

/*=======---------------------===============--------------=======----*/
@media screen and (max-width: 360px) {
}
@media screen AND (min-width:700px) {
}