.swiper-wrapper{
    width: 100%;
    height: 100vh;
}
.swiper-slide.principaleMobile{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.InputDouble.boutons{
    width: 100%;
    margin: 10px auto;
    flex-direction: column;
    background: transparent;
}
.InputDouble.boutons .btoun:nth-child(2){
    background: transparent;
    border: 1px solid var(--color-blanche-2);
    width: 100%;
    margin:5px auto;
    color:var(--color-text);
}
.swiper.mySwiper.othersideInsc, .swiper-wrapper.othersideInsc{
  width:100vw;
  height: 100vh;
  position: relative;
}
.swiper-wrapper.othersideInsc .connexionForm.inscription_Side{
width: 95%;
margin: 0 auto;
}

.InputDouble.boutons .btoun{
background: var(--color-blanche-2);
color:var(--color-text);
display: flex;
align-items: center;
border: 1px solid var(--color-blanche-2);
justify-content: center;
padding: 15px;
border-radius: 35px;
width: 70%;
}
.btounInscription{
    position: absolute;
    bottom: 20px;
    width: 90%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.btounInscription .btoun{
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    color: #FFF;
    }
    .logosIndex{
        display: flex;
        align-items: center;
        margin: 0px auto;
        
        
    }
    .logosNewarnet img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .logosNewarnet{
        width: 170px;
        height: 170px;
        
    }
    .contentItemsConnectio{
      width:100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      flex-direction: column;
  }
  .swiper-slide.connectionPage{
     margin-top:30px;
  }
  .boutonOnlymobile.signup i{
      color: #FFF;
  }
  .boutonOnlymobile.signup{
      background:var(--color-primary);
      color: #FFF;
  }
  .swiper-slide{
      flex-direction: column;
      width:100%;
      display: flex;
      position: relative;
      align-items: start;
      justify-content: flex-start;
      overflow: hidden;
      height: 100%;

  }
  .text_coventions {
      width:100%;
      font-size: 15px;
      display: flex;
      justify-content: center;
      color:#BDBDBD;
      opacity: 1;
      text-align: center;
      margin: 5px auto;
      text-align: center;
  }
  .bottomLink{
      position: absolute;
      bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .swiper-slide.fin{
      padding: 10px;
    }
    .boutonOnlymobile.boutonsActions.share i{
      color: #FFF;
      padding-left: 10px;
    }
    .bottomLink .boutonOnlymobile.boutonsActions.share{
      width: 90%;
      margin: 10px auto;
      background: var(--color-green_boutons);
      color: #FFF;
    }
   
  
  .containeBoutonsOnlyBoutons{
      display: flex;
      gap:10px;
      justify-content: center;
      width:100%;
      margin: 0 auto;
      margin-bottom:30px;
  }
  .boutonsActions{
      background: var(--color-blanche-2);
      color: var(--color-text);
  }
  .text_the_newaRnet{
      position: absolute;
      bottom: 20px;
      color:#FFF
      }
      .image_newarnet{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
      }
      .image_newarnet img{
          width:100%;
      }
     
      .text_demos{
          width:100%;
          display: flex;
          justify-content: center;
          text-align: center;
      }
      select.containeurInputStyle{
          border: 1px solid var(--color-blanche-2) !important;
      }
      .containeurInputStyle.genre, .containeurInputStyle{
          width:100%;
          display:flex;
          align-items: center;
          color: var(--color-text);
          background: transparent !important;
          height: 55px;
          padding:var(--padding_boutons);
          margin-bottom: 5px;
          background: transparent;
          border:  1px solid var(--color-blanche-2);
          border-radius: 5px;
      }
    .barrScrolle div::before{
        position: absolute;
        content:'';
        top:0;left:0;
        bottom:0;
        background:var(--color-primary);
        animation: deplacementBar 1s cubic-bezier(0.65,0.81,0.73,0.4) infinite;
      }   
      .barrScrolle {
        width: 100%;
        position: fixed;
        top: 0;
        background:#BDBDBD;
        box-shadow: var(--boxshadow_section_blanche);
        height: 5px;
        overflow: hidden; 
        display:none;
      }  
      .connexionForm{
        width: 100%;
        height: 100vh;
        height: 100%;
        overflow-y: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .connexionForm.inscription_Side{
        width:100%;
        max-height: 100vh;
        height: 100%;
        overflow-y: auto;
        align-items: start !important;
        display: flex;
        justify-content: flex-start !important;
        padding: 0 !important;
        margin: 0;
      }
      .connexionForm.inscription_Side .InputDouble{
      
        width: 100%;
      }
      .bottom_text .text_coventions{
        width: 95%;
      }
      .connectionBtn.sign_up i{
        padding-right: 30px;
      }
      .connectionBtn.login{
        background: var(--color-primary);
        color: #FFF;
        padding: 12px;
      }
      .containeurInputStyle{
        background: transparent;
        border: 1px solid var(--color-blanche-2);
      }
      .connectionBtn.sign_up{
        color: var(--color-text);
        border: 1px solid var(--color-blanche-2);
        background: transparent;
        border-radius: 30px;
      }
      .barrScrolle div::after{
        position: absolute;
        content:'';
        top:0;left:0;
        background:var(--color-primary);
        animation: deplacementBarAfter 2.5s cubic-bezier(0.16,0.44,1) infinite;
        animation-delay:.5s;
      } 
.swiper-slide{
    background: var(--color-blanche-1);
    max-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 10px 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: auto;
}
.swiper-wrapper.inscriptionSideMobile .swiper-slide .textDemonstrationInscription{
    margin-top: 30px;
    width: 95%;
    font-size: 15px;
}
.titre_animation.interd{
    color: transparent;
    font-size: 55PX;
    -webkit-text-stroke:  8px var(--color-titre) !important;
    -webkit-background-clip: text;
    background-size: contain;
    background-position: 0 0;
}

.gridItemsProposition{
  width: 98%;
  display: grid;
  margin: 10px auto;
  margin-top: 0vh;
  grid-template-columns: repeat(1,1fr);
  grid: 5px;
  padding-top: 40vh;
  
}
@media screen AND (min-width:700px) {
    .logosIndex{
        display: flex;
        align-items: center;
        margin-top: 100px;
    }
    .gridItemsProposition {
      width: 98%;
      display: grid;
      margin: 10px auto;
      margin-top: 0vh;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
      padding-top: 55vh;
  }
    .text_demos{
      padding-top: 10px;
    }
    .contenuDataPrincipeNianda{
      width: 100%;
      height: 13%;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      background: linear-gradient(180deg,transparent 50%, var(--color-blanche-2) 95%);
      
  }
}
@media screen and (max-width: 360px) {
  .contenuDataPrincipeNianda {
      max-height: 13% !important;
      height: 100%;
  }

  .gridItemsProposition {
      width: 98%;
      display: grid;
      margin: 10px auto;
      margin-top: 0vh;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
      padding-top: 25vh;
      
  }
}