body{
    background:var(--color-blanche-2);
    color: var(--color-text);
}

.onlyMobile{
    display: none;
}

.animationMere p{
    font-size: 13px;
}
.animationMere{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    position: absolute;
    bottom: 20px;
}
.headerphoto{
    width: 70px;
    height: 70px;
    object-fit: cover;
    background: var(--color-blanche-1);
    box-shadow: var(--boxshadow_section_blanche);
}


.ReferencePage{
    background:var(--color-blanche-2);
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:50px;
}
.erreurMessage{
    display: flex;
    color: var(--color-red-1);
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 95%;
    margin: 5px auto;
}
.leftside
{
    background: transparent;
    width:40%;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
}
.containeurInputStyle.password i{
    cursor: pointer;
    color: var(--color-text);
}
.containeurInputStyle.password i.fa-solid.fa-eye{
    display:none;
}
.connexionForm{
    padding: 7px;
    
}
.swiper-slid{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 7px 5px !important;
    align-items: start;
}

.FormConnexion{
    width: 100%;
    background: var(--color-blanche-1);
    box-shadow: var(--boxshadow_section_blanche);
    border-radius: var(--border-boutons);
    display: flex;
    height: 500px;
    position: relative;
    overflow: hidden;
    
}.Right_side{
    max-width: calc(100% * 9);
    width:35%;
    transition:all .2s ease;
    display: flex;
}

.text_the_newaRnet{
opacity:.6;
font-size:15px;
display: flex;
align-items:start;
}
.block_boutons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--mesure-center);
}
.block_boutons div{
    background: var(--color-blanche-1);
    color: var(--color-text);
    padding: 15px;
    cursor: pointer;
    border-radius: var(--border-boutons);
    box-shadow: var(--boxshadow_section_blanche);
}

.block_boutons{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:10px;
    width: 100%;
    margin: 40px auto;
}

.optionPhrase.active{
    max-width: 100%;
    transition: all .2s ease;
}
.optionPhrase{
    max-width: 0;
    width:100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    max-height: 85%;
    height: 100%;
    overflow-y: auto;
    background:var(--color-blanche-1);
    z-index: 100;
    color: var(--color-text);
    flex-direction: column;
    transition: all .2s ease;
}
.menuTitre:hover{
    background: var(--color-blanche-2);
    color: var(--color-text);
}
.menuTitre{
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid    var(--color-blanche-2);
    font-size: 15px;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    color: var(--color-text);
}
.containeurInputStyle input[type="text"],input[type="password"],input[type="number"],select,option{
    width: 100%;
    height: 100%;
    background: transparent;
}
select.containeurInputStyle{
    background: var(--color-blanche-2);
}
i{
    color: var(--color-icons_Theme_blanche);
}
input[type="radio"]{
    cursor: pointer;
}
.containeurInputStyle{
    width:100%;
    display:flex;
    align-items: center;
    color: var(--color-text);
    background: var(--color-blanche-2) !important;
    height: 55px;
    padding:var(--padding_boutons);
    margin-bottom: 5px;
    background: transparent;
    border-radius: 5px;
}
.class_boutons_asisstence i{
    padding-left: 10px;
}
.connectionBtn.sign_up{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.connectionBtn.login{
    width:60%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--color-blanche-2);
    color: var(--color-text);
    height: 55px;
    border-radius: var(--border-boutons);
    cursor: pointer;

}

.text_coventions{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:90%;
    opacity: .7;
    font-size: 14px;
    margin:20px auto;
    color: var(--color-text); 
}
.bottom_text .text_coventions{
    border-top:1px solid var(--color-icons_Theme_blanche);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:90%;
    opacity: .7;
    font-size: 14px;
    margin:15px auto;
    color: var(--color-text);
}
.connectionBtn.sign_up{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    background:var(--color-primary);
    height: 55px;
    color: #FFF;
    margin: 40px auto;
    border-radius: var(--border-boutons);
    padding: var(--padding_boutons);
}

.bottom_text{
    position:absolute;
    bottom: 10px;
}
.boutonOnlymobile.signup i{
    padding-left: 10px;
}
.swiper-slide .nianda{
    position: relative;
}
.userPhoto i{
    color: #FFF;
}
.Nianda p{
    width:80%;
    color:var(--color-text);
}
.Nianda{
    background: var(--color-blanche-1);
    padding: 10px;
    display: flex;   
    gap:20px;
    position: relative;
    width:90%;
    align-items: start;
}
.userPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-primary);
    
}
@keyframes animatePoint {
    0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    25% {
    opacity: 0.2;
    transform: translateY(0px) rotateX(90deg) rotateY(-45deg) rotateZ(0deg);
    }
    50% {
    opacity: 0.2;
    transform: translateY(0px) rotateX(90deg) rotateY(-90deg) rotateZ(0deg);
    }
    75% {
    opacity: 0.4;
    transform: translateY(0px) rotateX(90deg) rotateY(90deg) rotateZ(90deg);
    }
    100% {
    opacity: 0.2;
    transform: translateY(0px) rotateX(0deg) rotateY(-180deg) rotateZ(90deg);
    }
    }

.typing_container_animation .typing-animation{
    height:8px;
    width:8px;border-radius: 50%;margin:0 3px;
    animation:animatePoint 1.5s var(--delay) ease-in-out infinite;
    background:var(--color-primary);
}
.typing_container_animation{
    bottom:20px;cursor:pointer;
    display:inline-flex;
    position:absolute;
    right:10px;
}
.senderUser p{
    color:var(--color-text);
}
.conversations p{
    font-size: 14px;
    font-weight: 100;
}
.senderUser{
    width:100%;
    padding: 10px;
    border-bottom:1px solid var(--color-blanche-2);
    display: flex;
    opacity: .7;
    align-items: start;
    gap:15px;
}
.animationload{
    display: none !important;
  }
  .ReferencePage{
      display:none;
  }
  .photoImage img{
    width:100%;
    height:100%;
    object-fit:cover;
  }
  .photoImage{
    width:100px;height:100px;border-radius:5px;
    background:#FFF;
    margin-bottom:20px;
    overflow:hidden;
    box-shadow:var(--boxshadow_section_blanche);
  
  }
  .contaneurImage span{
    color:#BDBDBD;
    font-size:15px;
  }
  .barrScrolle div::before{
    position: absolute;
    content:'';
    top:0;left:0;
    bottom:0;
    background:var(--color-primary);
    animation: deplacementBar 2.5s cubic-bezier(0.65,0.81,0.73,0.4) infinite;
  }     
  .barrScrolle div::after{
    position: absolute;
    content:'';
    top:0;left:0;
    background:var(--color-primary);
    animation: deplacementBarAfter 2.5s cubic-bezier(0.16,0.44,1) infinite;
    animation-delay:1s;
  }     
  @keyframes deplacementBarAfter {
    0%{
      left:-200%;
      right:100%;
    }
    60%, 100%{
      left:107%;
      right:-8%;
    }
  }
  @keyframes deplacementBar {
    0%{
      left:-10%;
      right:100%;
    }
    60%, 100%{
      left:100%;
      right:-90%;
    }
  }
  .barrScrolle {
    width: 100%;
    position: absolute;
    top: 0;
    background:#BDBDBD;
    box-shadow: var(--boxshadow_section_blanche);
    height: 5px;
    overflow: hidden; 
  }
  .ConteneurToutepage{
    display:none;
    overflow:hidden;
    position:relative;
    z-index:1000000;
  }
  .contaneurImage{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
  }
  
.conversations{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    flex-direction: column;
    max-height: 85%;
    padding-bottom: 50px;
    height: 100%;
    overflow-y: auto;

}
/* Enlever les bordures du select */
select,option {
    border: none !important;
    outline: none !important; /* Pour enlever la bordure d'accentuation (focus) */
}


.boutonOnlymobile.seconncter{
    width:80%;
    background: var(--color-blanche-2);
    color: var(--color-text);
    margin: 15px auto;
    cursor: pointer;
}
.botoomSessionNianda .SessionQuestion input{
    width:100%;
}
.botoomSessionNianda .SessionQuestion{
    width:90%;
    margin:20px auto;
    background: var(--color-blanche-2);
    padding: 15px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    color: var(--color-text);

}
.botoomSessionNianda{
    position: absolute;
    bottom:0;
    width:100%;
   
}
.inscriptiontittre h3{
    font-size: 25px;
}
.inscriptiontittre{
    display: flex;
    width:100%;
    justify-content: center;
}
.swiper .class_boutons_asisstence{
    padding:var(--padding_boutons);
    width:90%;
    margin:10px auto;
    display: flex;
    justify-content: center;
    background: var(--color-blanche-2);
    
}
.swiper-wrapper.Mobile{
    transform: translateX(-200%);
}
.swiper-wrapper.Desk{
    transform: translateX(-100%);
}
.divPardefaut,.divPardefautMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 98%;
    opacity: .5;
    text-align: center;
    gap:20px;
    flex-direction: column;
}
.textDemonstrationInscription{
    width:95%;
    margin:10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: .8;
    margin-bottom: 20px;
}
.boutonOnlymobile.suivant{
    background: var(--color-green_boutons);
    width:80%;
    margin:15px auto;
    color: #FFf;
    cursor: pointer;
    border: none;
}
.inscriptiontittre h3{
    color: transparent;
    font-size: 27PX;
    -webkit-text-stroke:  4px var(--color-titre_newarnet) !important;
}
.containeurInputStyle.genre i{
    color: var(--color-text);
}
.containeurInputStyle.genre{
    border: none;
    gap:10px;
    justify-content: center;
    width:100%;
}

.inscriptiontittre{
    margin-bottom: 30px;
}

.InputDouble i.fa-solid.fa-person,
.InputDouble i.fa-solid.fa-person-dress{
    display: none;
}
.fa-solid.fa-check{
    display: none;
}
.boutons{
    display: flex;
    width: 60%;
    margin:0px auto;
    display: none;
    padding: 15px;
    color: #FFF;
    align-items: center;
    background: var();
    border-radius: 5px;
    cursor: pointer;
    background: var(--color-primary);
    justify-content: center;
    align-items: center;
}
.block_boutons .invitationsUsers.class_boutons_asisstence:nth-child(2) i{
    color: #FFF;
}
.block_boutons .invitationsUsers.class_boutons_asisstence:nth-child(2){
    background: var(--color-primary);
    color: #FFF;
}
.InputDouble{
    width:100%;
    display: flex;
    align-items: center;
    gap:10px;
}
.titre_animation{
    color: transparent;
    font-size: 50PX;
    -webkit-text-stroke:  7px var(--color-titre_newarnet) !important;
    -webkit-background-clip: text;
    background-size: contain;
    background-position: 0 0;
}
.boutonOnlymobile{
    display: flex;
    align-items:center;
    justify-content: center;
    color:var(--color-text);
    border: 1px solid var(--color-blanche-2);
    padding: 13px 20px;
    color: var(--color-text);
    border-radius: var(--border-boutons);
    
}


/* Petits écrans d'ordinateur portable */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    /* Styles spécifiques pour les écrans de 1024 à 1279 pixels de large */
}
/* Styles de base (pour tous les écrans) */

/* Tablettes */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles spécifiques pour les écrans de 768 à 1023 pixels de large */
}
/* Mobile portrait */
@media screen and (max-width: 480px) {
    .onlyMobile{
        display:flex;
        width:100%;
        height: 100%;
        background: var(--color-blanche-1);
        color:#fff;
        justify-content: start;
        align-items: center;
        padding-top: 20px;
    }
    
        .titre_animation{
            color: transparent;
            font-size: 40PX;
            -webkit-text-stroke:  5px var(--color-primary)!important;
            -webkit-background-clip: text;
            background-size: contain;
            background-position: 0 0;
            margin-bottom: 10px;
        }
        
        .barrScrolle {
            height: 8px;
        }
        .textDemonstrationInscription{
            width:100%;
            margin:10px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            opacity: .8;
            margin-bottom: 20px;
        }
        .bottom_text{
            position:absolute;
            bottom: 30px;
        }
       
        
    .Right_side,.leftside{
        display:none;
    }
}
