body{
    margin:0;
    width: 100%;
    height: 100vh;
    background: var(--color-blanche-2);
    color: var(--color-text);
    display: flex;
    align-items: start;
    justify-content: center;
}
.ReferencePage{
    background: var(--color-blanche-2);
    width: 100%;
    display: flex;
}
.gauche{
    width:35%;
    height: 100vh;
    background: var(--color-blanche-1);
}
.droite{
    width:65%;
    height: 100vh;
    background: var(--color-blanche-2);
}
.swiper.mySwiper.other{
    background: var(--color-blanche-1);
    border-bottom: 1px solid var(--color-blanche-2);
}
.headerMessage{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    background: var(--color-primary);
    width: 100%;
}
.swiper-wrapper.friendsOnline{
    padding: 10px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center !important;
    gap:15px !important;
}

.messageInformation{
    width: 80%;
    margin: 10px auto;
    color: var(--color-jaune-text);
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 50px;
}
.carterUsermessage{
    width:50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-blanche-1);
    cursor: pointer;
    overflow: hidden;
}
.swiper-slide{
    max-height: 70vh;
    height: 100%;
    overflow: auto;
}
.nameUserconversation p{
    font-size: 14px;
    opacity: .7;
}
.conversationuser:hover{
    background: var(--color-blanche-2);
    transition: all .3s ease;
}
.conversationuser{
    width:100%;
    position: relative;
    padding: 7px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    gap:10px;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-bordure-noire);
}
.carterUsersOnline{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}
.rightIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.iconsHeader{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border: 1px solid   var(--color-blanche-2);
}
.leftnav{
    width: 90%;
    margin: 10px auto;
    height: 50px;
}
.swiper-slide .conteneuramis .photoamis{
    width: 60px;
    height: 60px;
    border-radius: var(--border-radius_cercle);
    background: var(--color-blanche-2);
  }
.gauche .iconsHeader i{
    color: #FFF;
}
.gauche .iconsHeader{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid   #BDBDBD;
}
.onlineTime{
    position: absolute;
    right: 10px;
}

.droite{
    align-items: start;
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.iconsHeader.menuOptions{
    position: relative;
}
.menuOptionFichers{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.imageUser{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background: var(--color-blanche-2);
    border:  1px solid var(--color-blanche-2);
    box-shadow: none;

}
.imageUser::before{
    content: '';
    width:13px;
    height: 13px;
    position: absolute;
    bottom: 5px;
    right: 0px;
    background:rgb(8, 234, 34);
    border-radius:50%
}
.imageUser img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.nameUseronine{
    font-size: 13px;
    opacity: .8;
}
.middleSesion{
    margin-top: 80px;
    max-height: 75vh;
    overflow-y: auto;
    width:100%;
    padding: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.iconsHeader.inputSearch input{
    width: 100%;
}
.iconsHeader.inputSearch{
    width: 70%;
    height: 45px;
    padding: 0 10px;
    border-radius: var(--border-boutons);
}
.topSesion{
    width:100%;
    position: fixed;
    top:0;
    height: 70px;
    border-bottom:1px solid var(--color-blanche-1);
    opacity: .9;
    padding: 12px;
    display: flex;
    gap:12px;
}
.onlineTime.messageColor{
    background: var(--color-red-1);
    color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;

}
.nameUserMessage p{
    font-size: 14px;
    opacity: .7;
}
.nameUserMessage{
    display: flex;
    align-items: start;
    line-height: 20px;
    flex-direction: column;
}
.messagecontent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    width:100%;

}
.chempsDesaisi textarea{
    display: flex;
    align-items: center;
}
.iconsDroite{
    display: flex;
    align-items: center;
    gap:12px;
}
.iconsHeader.sendsMessage i{
    color: #FFF;
    font-size: 15px;
}
.iconsHeader.sendsMessage{
    background: var(--color-green_boutons);
    color:#FFF;
   

}
.iconsHeader.menuGroupe{
    position: absolute;
    right: 10px;
}
.chempsDesaisi input{
    margin-left: 20px;
    width: calc(100% - 20px);

}
.chempsDesaisi i{
    font-size: 18px;
}
.chempsDesaisi{
    background: var(--color-blanche-1);
    box-shadow: var(--boxshadow_section_blanche);
    width:60%;
    height: 60px;
    display:flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;

}
.bottomSession{
    position: fixed;
    bottom: 0;
    width: 65%;
    

}
.gauche .iconsHeader:nth-child(1) i{
    color: var(--color-icons_Theme_blanche);
}
.gauche .iconsHeader:nth-child(1){
    background: #FFFFFF;
    border: none;
}
.messageConversation_users{
    width: 100%;
}
.messageContextText small{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    right: 10px;
}
.Message .messageContextText.image::before,
.FriendMessage .messageContextText.image::before{
    width: 0;
    height: 0;
}
.Message .messageContextText.image img,.Message .messageContextText.image img video,
.FriendMessage  .messageContextText.image img, .FriendMessage  .messageContextText.image video{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Message  .messageContextText.image .image, 
.FriendMessage  .messageContextText.image .image{
    width: 100%;
    height: 100%;
}
.Message  .messageContextText.image,
.FriendMessage  .messageContextText.image{
    padding: 3px 2px 25px 2px;
    max-width: 35%;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
}
.FriendMessage .messageContextText p,.FriendMessage .messageContextText small{
    color: #515151;
}
.iconspdf i{
    font-size: 25px;
}
.iconspdf{
    width: 50px;
    height: 50px;
    background:transparent;
    border:  1px solid #515151;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

span.ReadClass i{
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}
.detailDoc{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}
.messageContextText.document span:nth-child(2){
    font-size: 13px;
}
.messageContextText.document span,.messageContextText.document i{
    color: #515151;
}

.messageContextText.document .document{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    
}
.FriendMessage .messageContextText{
    background: var(--color-blue);
    padding:15px 20px;
    position: relative;
    border-radius: 10px;
}
.FriendMessage .messageContextText::before{
    content: '';
    width: 20px;
    right: -10px;
    top: 0;
    height: 20px;
    position: absolute;
    background:linear-gradient( 135deg,var(--color-blue) 0%,var(--color-blue) 50%,transparent 50%,transparent);
}
.Message .messageContextText::before{
    content: '';
    width: 20px;
    left: -10px;
    top: 0;
    height: 20px;
    position: absolute;
    background:linear-gradient( 225deg,var(--color-blanche-1) 0%,var(--color-blanche-1) 50%,transparent 50%,transparent);
}
.messageContextText{
    position: relative;
    background:var(--color-blanche-1);
    padding:15px 20px;
    color:var(--color-text);
    background: var(--color-blanche-1);
    box-shadow: var(--boxshadow_section_blanche);
    position: relative;
    border-radius: 8px;
    margin-bottom: 5px;
    max-width: 55%;
}
.Message{
    width:100%;
    display: flex;
    justify-content:flex-start;
}

.FriendMessage{
    width:100%;
    display: flex;
    justify-content:flex-end;
    
}
.messageconten{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.menuSettigns:hover,.menuSettigns:hover i{
    background: var(--color-blanche-2);
    color: var(--color-text);
}
.middleSesion.swiper-slide.Fil{
    background: var(--color-blanche-2);
}
.iconsHeader.Returnback i{
    color: #FFF;
}
.iconsHeader.Returnback{
    background: var(--color-green_boutons);
    color: #FFF;
    border: none;
}
.iconsHeader.Returnback{
    display: none;
}
.messagecontent .iconsDroite .sendsMessage{
    display: none;
}
/* Petits écrans d'ordinateur portable */
@media screen and (min-width: 1024px) and (max-width: 1279px) {

}
/* Styles de base (pour tous les écrans) */

/* Tablettes */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles spécifiques pour les écrans de 768 à 1023 pixels de large */
}
/* Mobile portrait */
@media screen and (max-width: 480px) {
   
    
}





