.ReferencePage{
    background: var(--color-blanche-2);
    width: 100%;
    display: flex;
}
.gauche{
    width:35%;
    height: 100vh;
    background: var(--color-blanche-1);
    border-left: 1px solid var(--color-blanche-2);
}
.droite{
    width:65%;
    height: 100vh;
    background: var(--color-blanche-2);
}