.cartetPosteCreation{
    width: 40%;
    margin: 20px auto;
    background: var(--color-blanche-1);
    height: 100%
}
.headerPatiesPoste{
    color: #FFF;
    border-radius: 5px 5px 0 0;
    display: flex;
    background: var(--color-primary);
    align-items: start;
    width: 100%;
    justify-content: space-between;
    padding: 8px 20px;
  }
.carterPostStory{
    width:100%;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    background: var(--color-blanche-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
    gap:5px;
    margin: 5px auto;
  }
  /* Tablettes */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cartetPosteCreation{
        width: 100%;
        margin: 0px auto;
        background: var(--color-blanche-1);
        height: 100%
    }
}
/* Mobile portrait */
@media screen and (max-width: 480px) {
    .cartetPosteCreation{
        width: 100%;
        margin: 0px;
        background: var(--color-blanche-2);
        height: 100vh;
    }
    .carterPostStory{
        width:100%;
        height: 40vh;
        margin: 0 auto;
        overflow: hidden;
        background: var(--color-blanche-1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        flex-direction: column;
        gap:5px;
        margin: 5px auto;
      }
    .headerPatiesPoste{
        color: #FFF;
        border-radius: 0;
        display: flex;
        background: var(--color-primary);
        align-items: start;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
      }
      .containeurInputStyle.integrite{
        background: var(--color-blanche-1);
      }
    .leftnav.postSession{
        background: var(--color-blanche-1) !important;
    }
}