.Referencepage{
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
}
.leftside{
    width: 30%;
    height: 100vh;
    background: var(--color-blanche-1);
}

.rightSide{
    width: 70%;
    height: 100vh;
    background: var(--color-blanche-2);
    display: flex;
    align-items: center;
}
.ElementsDivs i{
    padding-left: 10px;
}
.ElementsDivs{
    display: flex;
    box-shadow: var(--boxshadow_section_blanche);
    align-items: center;
    justify-content: center;
    align-items: center;
    background: var(--color-blanche-1);
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.DivsBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.swiper-slide.pardefaut{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.swiper.mySwiper{
    width: 100%;
    height: 100%;
}
.pardefaut{
    flex-direction: column;
}
.titres{
    font-size: 100px;
  -webkit-text-stroke: 14px var(--color-text) !important;
  opacity: .3;
}

.imagediv{
  width: 90%;
  margin: 10px;
  background: var(--color-blanche-2);
  height: 70%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.imagediv i{
    font-size: 35px;
}
.imagediv .ElementsDivs i{
    font-size:inherit;
}
.imagediv span{
    margin-top: 10px;
    opacity: .6;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.swiper-slide.imageDefault{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.carterModificationPhoto{
    width:98%;
    margin: 10px auto;
    height: 200px;
    background: var(--color-blanche-2);
    border-radius: 5px;
}
.textDemos{
    width: 90%;
    opacity: .8;
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 20px;
}
.bgs{
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
}
.carterModificationPhoto{
    overflow: hidden;
}
.swiper-slide.montagePhoto{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.editeurPho{
    width: 80%;
    height: 80%;
    margin-top: 30px;
    background: var(--color-blanche-1);
    border-radius: 5px;
    overflow: hidden;
}
.editeurPho img{
    width: 100%;
    height:100%;
    cursor: pointer;
    object-fit: cover;
}
.containeurInputStyle i{
    padding-left: 10px;
}
.rightsideTools{
    position: absolute;
    right:0;
    top: 60px;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--color-blanche-1);

}
.topSideTools{
    width: 100%;
    display: flex;
    position: absolute;
    background: var(--color-blanche-1);
    top:0px;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.containeurInputStyle.download{
    background: transparent;
    border: 1px solid var(--color-blanche-2);
}
.containeurInputStyle{
    background: var(--color-blanche-2);
    width: 100%;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.InputDouble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    margin: 5px auto;
    gap:5px;
}
.carterModificationPhoto img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}
.bgs .background input{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    color: transparent;
    border-radius: 5px;
    height: 100px;
    background-color: transparent;
}
.bgs .background span{
    opacity: .6;
}
.bgs .background{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    overflow:hidden;
    border-radius: 5px;
}
.titreModification{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    text-align: center;
    opacity: .5;
}
.swiper-slide.gaucheIcones{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
}
.swiper-slide.gaucheIcones .gauche_icones{
    width: 23%;
    max-height: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--color-blanche-1);
    position: fixed;
}
.swiper-slide.gaucheIcones .droite_icons{
    width: 80%;
    max-height: 100%;
    height: 100%;
    padding: 5px 2px;
    overflow-y: auto;
    margin-left: 23%;
    background: var(--color-blanche-2);
    
}
.swiper-wrapper.leftSide_option,
.swiper-wrapper.DroiteSession{
    width: 100%;
}
.iconePrincipale{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    cursor: pointer;
    padding: 12px 0;
    width: 100%;
}
.intefaceText{
    display: flex;
    align-items: start;
    width: 100%;
    flex-direction: column;
}
.boutonsText:first-child{
    font-size: 25px;
}
.boutonsText:nth-child(2){
    font-size: 16px;
}
.boutonsText:nth-child(3){
    font-size: 12px;
}

.color:nth-child(2){
    background: rgb(222, 171, 53);
}
.color:nth-child(4){
    background:#FFFFFF;
}
.color:nth-child(5){
    background:#000000;
}
.color:nth-child(8){
    background:#15ff00;
}
.color:nth-child(9){
    background:#a0033a;
}
.color:nth-child(6){
    background:#3e013c;
}
.color:nth-child(7){
    background:#1a324a;
}
.color:nth-child(1){
    background: rgb(178, 39, 39);
}
.color:nth-child(3){
    background:var(--color-primary);
}
.colorInput{
    width:90%;
    height: 80px;
    border-radius: 5px;
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}
.colorInput input{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.intextInput{
    padding: 0;
}
.textReponse{
    width: 95%;
    margin: 10px auto;
    text-transform: uppercase;
}
.intextInput input{
    width: 100%;
    height: 100%;
}
.intextInput{
    display: flex;   
    margin: 10px auto;
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--color-blanche-1);
}
.couleurschoix,.Toolsschoix {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tools,.color {
    flex-basis: calc(33.33% - 10px); /* 20px de marge entre les éléments */
    margin: 3px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: var(--color-blanche-1);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.tools.Galerie{
    flex-basis: calc(50% - 10px); /* 20px de marge entre les éléments */
    margin: 3px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100px;
    border-radius: 10px;
    background: var(--color-blanche-1);
}
.couleurPrincipale{
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.couleurPrincipale span{
    font-size: 25px;
    opacity: 1;
}
.boutonsText{
    width: 97%;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding_boutons);
    border-radius: 5px;
    font-weight: 100;
    background: var(--color-blanche-1);
    cursor: pointer;
}
.iconePrincipale small{
    font-size: 12px;
}
.swiper-slide.canvasclass{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canvas{
    width: 95%;
    border-radius: 10px;
    margin: 20px auto;
    height: 90%;
    background: var(--color-blanche-1);
}