.firndscartes{
    display: none;
}
.containeruAmisDroite{
    display:flex;
}
.leftPage{
    width:60%;
}
.headerSesion{
    display: flex;   
    width:100%;
    align-items: start;
    gap:10px;
}
.header-ProfileUser{
    width:100%;
    height:100px;
    background: var(--color-blanche-1);
    border-radius: 10px 10px 0 0;
    position: relative;
}
.leftnav{
    background:transparent;
    position: absolute;
    right:20px;
    width:20%;
    
}
.cartePostphoto{
    position: absolute;
    left:10px;
    border: 1px solid var(--color-blanche-1);
    bottom:-50px;
    background: var(--color-blanche-2);
    width:100px;
    height:100px;border-radius: 50%;
}
.profile_dela-page .textDetails{
    margin-top: 60px;
}
.textDetails h3{
    font-size:23px;
    font-weight: bold;
    color: var(--color-text);
    opacity: .7;
}

.profile_dela-page .btn i{
    color:#FFF;
    padding-left: 20px;
}


.albumUser{
    display: grid;
    grid-template-columns: repeat(2,160px);
    gap:10px;
}
.photoImage{
    height: 130px;
    background: var(--color-linear-white);
    animation: skeletonAnimation 2s linear infinite;
    border-radius: 5px;
    background-size: 200% 100%;

}
@keyframes skeletonAnimation {
    0% {
      background-position: -200% 0; 
    }
    100% {
      background-position: 200% 0;
    }
  }
.profile_dela-page .btn{
    background:var(--color-blanche-1);
    margin:10px auto;
    justify-content: center;
    background: var(--color-green_boutons);
    color:#FFF;
}
.profile_dela-page{
    width:25%;
    height: 100vh;
    position: fixed;
    border-radius: 5px;
    flex-direction: column;
}
.carterPoste{
    width:100%;
}
.FormPost {
    margin: 0px auto;
    margin-bottom: 20px;
    width:100%;
  }

.postepage{
    width:60%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    align-items: start;
}