body{
    margin: 10px auto;
    width: 100%;
    height: 100vh;
    background: var(--color-blanche-2);
    color: var(--color-text);
    display: flex;
    align-items: start;
    justify-content: center;
}
img{
    width:100%;
    height:100%;
    object-fit: cover;
    
}


.cartePhotoGallery .imageGalleryUser img{
    width:100%;
    height:100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    
}
.cartePhotoGallery{
    display: grid;
    grid-template-columns: repeat( 3,auto);
    gap:5px;
    padding: 10px;
}
.textes span,.textes h3{
    color:#FFF;
}
.textes{
    display: flex;
    width: 100%;
    padding: 15px 8px;
    justify-content: space-between;
    background: var(--color-primary);
    color:#FFF;
    margin:10px auto
}
.textes span:nth-child(2):hover{
    border: 1px solid #BDBDBD;
    padding: 3px 15px;
    border-radius: 5px;
}
.textes span:nth-child(2){
    cursor: pointer;
}
.InfosAccademique{
    padding: 10px;
}
.otherInformationUser .leftSideInformations{
    width:50%;
    background: var(--color-blanche-1);
}

.otherInformationUser .leftSideInformations .textEplaza{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-blanche-2);
}
.otherInformationUser{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 5px;
    gap:2px;
}
.ParentDivs{
    width:60%;
    margin-top:70px;
    height: 100vh;
}
.coverphotoUser{
    width:100%;
    height:100%;
}
.coverphotoUser img{
    width: 100%;
    height:100%;
    object-fit:cover;
}
.amisEncommun .amisEncommun .image:hover{
    transform: scale(-8);
}
.amisEncommun .image:nth-child(2){
    position: absolute;
    left:20px;
}
.RightSideInformations{
    width:50%;
    background: var(--color-blanche-1);
}
.rightSideProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.amisEncommun .image:nth-child(4){
    position: absolute;
    left:65px;
}
.amisEncommun .image{
    border:1px solid var(--color-blanche-1);
    cursor: pointer;
}
.amisEncommun{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap:0px;
    position: relative;
}
.leftInfosusers .profilePhotoUsers{
    width:120px;
    height: 120px;
    border-radius: 5px;
    overflow: hidden;
}
.leftInfosusers{
    display: flex;
    gap:10px;
    margin-top: 10px;
}
.amisEncommun .image img{
    width:100%;
    height:100%;object-fit: cover;
    border-radius: 50%;
}
.amisEncommun .image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bottomside .bouton,.topSide .bouton{
    background: var(--color-blanche-2);
    padding: 7px 12px;
    width:120px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topSide .bouton:nth-child(1) i,.topSide .bouton:nth-child(2) i{
    padding-right: 10px;   
}
.bottomside .bouton:nth-child(1) i{
    padding-right: 10px;
}
.bottomside .bouton:nth-child(1){
    background: var(--color-addRelation);
    color:#FFF;

}
.bottomside .bouton:nth-child(2) i{
    color:#FFF;
}
.bottomside .bouton:nth-child(2){
width:50px;
padding:12px 20px;
background: var(--color-primary);
color:#FFF;
}
.bottomside{
    margin-top: 10px;
    justify-content: flex-end !important;
    width: 100%;
}
.bottomside,.topSide{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.infosUsercarte{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-blanche-1);
    padding: 10px;
}
.detailInfoProfileUsers h3{
    font-weight: 500;
    font-size: 20px;
}
.detailInfoProfileUsers{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
}
hr.ligne{
    margin:15px auto;
    border-bottom: 1px solid #BDBDBD;
}

.headerParent{
    width:100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    height: 300px;
}
.infoAbout{
    display: flex;
    align-items: start;
    justify-content:flex-start;
    width: 100%;
    gap:15px
}
span.textInfodemo{
    font-size: 16px;
    color:#BDBDBD;
}
.SearchMessage.creationGroupe{
    width: 90%;
    height: 50px;
    padding-left:20px;
    border-radius: 30px;
}