body {
  background: var(--color-blanche-2);
  
}
.headerPhoto span{
  font-size: 20px;
}
.Grid_boutique{
  width: 300px;
    height: 300px;
    margin: 3px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc(50% - 1px);
    gap:10px;
    background: var(--color-blanche-2);
}
.Grid_boutique .Articles{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.headerPhoto{
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  gap:10px;
  flex-direction: column;
}
.carteProfile{
  background:var(--color-blanche-2);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.ContaineurBoutique{
  width:100%;
  height: 100%;
  display: flex;
  align-items:flex-start;
  justify-content: start;
  margin-top: 20px;
  flex-direction: column;
}

.containeurLoad{
  background:var(--color-blanche-2);
  border-radius: 50%;
  padding: 5px;
}
.LoadingCircle{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.cartecommentaire.notification .photoEplaza{
  background: var(--color-blanche-2);
}
.cartecommentaire.notification{
  background: var(--color-blanche-1);
  border-radius: 0;
  border-bottom: 1px solid var(--color-blanche-2);
}
nav {
  width: 100%;
  border-bottom: 1px solid  var(--color-blanche-2);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  position: fixed;
  top: 0px;
  z-index: var(--z-index-1);
  background: var(--color-blanche-1);
}
.leftnav input {
  width: 90%;
  height: 100%;
}
.leftnav {
  gap:10px;
  width: 30%;
  background: var(--color-blanche-2);
  border-radius: var(--color-border-radius-arond);
  height: 100%;
  display:flex;
  align-items: center;
  padding: 10px 15px;
}
.leftnav.postSession{
  width: 80%;
  height: 60px;
  background: var(--color-blanche-1);
  padding-left: 20px;
  box-shadow: var(--boxshadow_section_blanche);
}
nav div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.iconsNav {
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

  
.document-title,.document-info{
  font-size:13px;
}
.confirmeBtn.boutonAdmettre.ajouter i{
  color:var(--color-text);
}
.confirmeBtn.boutonAdmettre.ajouter {
background: var(--color-blanche-2);
color:var(--color-text);
}
.InputDouble .containeurInputStyle.poste.publication i{
color:#FFF;
}

.animationload{
width: 100%;
height: 100vh;
display: none;
justify-content: center;
align-items: center;
background: var(--color-blanche-1);
}
.titre_animation.accueil {
  font-size: 30px;
  -webkit-text-stroke: 4px var(--color-titre) !important;
}
.imagediv img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.imagediv{
  width: 90%;
  margin: 10px;
  background: var(--color-blanche-2);
  height: 70%;
  border-radius: 10px;
}

.swiper-slide.imageDefault{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.swiper-slide.PhotoImageSetting{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 13px;
  position: relative;
  width: 100%;
}


.iconcontainerOption {
  padding: 10px 20px;
  cursor: pointer;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.swiper-slide.sliderLeft{
  width: 100%;
}
.sesionOption {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  justify-content: flex-start;
}

.droite_session {
  flex-direction: column;
  width: 35%;
  position: fixed;
  top: 80px;
  height: 100vh;
  right: 0;
  flex-direction: column;
  align-items: start;
  background: var(--color-blanche-2);
}
.NotificationsSesssion{
  display: flex;
}
.conversationAlllMessages,.NotificationsSesssion,#dataRechercheUserSecond{
  max-height: 70vh;
  height: 100%;
  overflow-y:auto;
  width:100%;
}
.conversationuser:hover{
  background: var(--color-blanche-2);
  transition: all .3s ease;
}

.SearchMessage.creationGroupe.notification input{
  padding-left:15px;
}
.SearchMessage.creationGroupe.notification{
  height: 50px;
  width: calc(100% - 40px);
  border-radius: 30px;
  padding: 15px;
}
.textCenteNotification h3{
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap:15px;
}
.textCenteNotification i{
  font-size: 16px;
}

.userowner{
  display: flex;
  gap:10px;
}
.conversationuser.Notification.active{
  background: #DCF8C6;
  color:#141411;
}
.conversationuser.Notification{
  background: transparent;
}
.conversationuser.Notification{
  width:100%;
  position: relative;
  padding: 7px;
  align-items: start;
  cursor: pointer;
  display: flex;
  gap:10px;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-bordure-noire);
  border-bottom: 1px solid var(--color-bordure-noire);
}
.swiper-slide.sms .conversationuser .carterUsermessage{
  background: var(--color-blanche-2);
}
.conversationuser{
  width:100%;
  position: relative;
  padding: 7px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  gap:10px;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-bordure-noire);
}
.sessionMessage{
  background: var(--color-blanche-1);
  flex-direction: column;
  width: 35%;
  position: fixed;
  top: 80px;
  height:100vh;
  right: 0;
  flex-direction: column;
  align-items: start;
  display: none;
}
.sessionNotifications{
  background: var(--color-blanche-1);
  flex-direction: column;
  width: 35%;
  position: fixed;
  top: 80px;
  height:100vh;
  right: 0;
  flex-direction: column;
  align-items: start;
  display: none;
}
.leftmain {
  width: 20%;
  position: fixed;
  top: 100px;
}
.swiper-slide.sliderLeft{
  width: 100%;
}
.swiper-wrapper.leftOption{
  width: 100%;
}
.iconcontainerOption i {
  color: var(--color-icons_Theme_noire);
}
.containerFrinds p {
  font-size: 13px;
  color: var(--color-text);
  opacity: 0.7;
}
.containerFrinds {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  width:60px !important;
  flex-direction: column;
}

.imageStoryContainer {
  width: 70px;
  height: 70px;
  background: var(--color-blanche-1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-wrapper.storys_users{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:15px !important;
}
.coverImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  border-radius: var(--border-radius_cercle);
  box-shadow: var(--boxshadow_section_blanche);
}
.imageStoryContainer .coverImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: var(--border-radius_cercle);
}

.menuIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--color-blanche-1);
  border:  1px solid var(--color-blanche-2);
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  transition: var(--transform-animation);
  transition-duration: var(--transition-duration);
  color: var(--color-text);
  padding: 20px;
}
.iconDiv.menuMedia{
  position: relative;
}

.fa-solid.fa-paperclip{
  z-index: var(--z-index-2);
}

.iconDiv.menuMedia.active ~ .MunuInputs .menuInterface .iconMenuFile{
  background: var(--color-blanche-2) !important;
  box-shadow: var(--boxshadow_section_blanche) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuInterface .iconMenuFile{
  background: var(--color-blanche-1);
  box-shadow: none;
}
.menuInterface i{
  color: var(--color-blanche-1) ;
}
.iconDiv.menuMedia.active ~ .MunuInputs .menuInterface i{
  color: var(--color-icons_Theme_noire);
}
.iconDiv.menuMedia.active ~ .MunuInputs{
  background: var(--color-blanche-1);
  width: 250px;
  transform: translateY(-110px);
  box-shadow: var(--boxshadow_section_blanche);
  border-radius: 5px;
  overflow: hidden;
  height: 80px;
  transition-delay: .1s,0.5s ,0.5s;
  
}
.emotionIcons{
  cursor: pointer;
}
.MunuInputs{
  width: 20px;
  height: 20px;
  border-radius: 5%;
  overflow: hidden;
  position: absolute;
  background:var(--color-blanche-1);
  right:42%;
  padding: 0;
  overflow: hidden;
  z-index: 600;
  transition: transform .5s,width 0.5s,height 1s;
  transition-delay: .5s,0.5s ,0.5s;
}
.conversationHomePage{
 width: 100%;
 height: 100%;
}
.BoutonsRetoure i{
  padding-right: 15px;
}
.swiper-wrapper.leftOption .swiper-slide{
  width: 100%;
  border-radius: 5px;
  background: var(--color-blanche-1);
  width: 100%;
  max-height: 70%;
  height: 100%;
  overflow-y: auto;
}

.BoutonsRetoure.add{
  background: var(--color-blanche-2);
  color: var(--color-text);
  cursor: pointer;
  width: 90%;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
}

.bottomSidepartiePoste{
  padding: 5px;
  width: 100%;
  height: 100%;
}
.carterPostStory img, .carterPostStory video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carterPostStory p{
  position: absolute;
  bottom: 30%;
}
.carterPostStory p{
  font-size: 16px;
  color: #414141;
  margin-top: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carterPostStory{
  width:100%;
  height: 250px !important;
  margin: 0 auto;
  overflow: hidden;
  background: var(--color-blanche-2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-direction: column;
  cursor:pointer;
  gap:5px;
  position: relative;
  margin: 5px auto;
}
.suivantBoutonsGroupe i{
  color: #FFF;
  padding-left: 10px;
}
.suivantBoutonsGroupe{
  right: 20px;
  padding: 8px 12px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  cursor: pointer;
  background: var(--color-primary);
  border-radius: 5px;
}
.swiper-wrapper.CreationGroupe{
  width: 100%;
  height: 100%;
  position: relative;
}
#GroupePrfileImage{
  background: var(--color-blanche-2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: var(--boxshadow_section_blanche);
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftnav.groupeCreation input{
  width: 100%;
  margin: 5px auto;
  border:  1px solid var(--color-blanche-2);
  padding: 20px;
  border-radius: 5px;
}
.leftnav.groupeCreation{
  width: 100%;
  height: 50px;
  box-shadow: none;
  margin: 10px auto;
  background: transparent;
  padding: 10px 5px;
  border-radius:30px;
}
.bottomSidepartiePoste .leftnav.postSession{
  width: 95%;
  height: 60px;
  background: var(--color-blanche-2);
  box-shadow: var(--boxshadow_section_blanche);
  margin: 10px auto;
  
}
.containeurInputStyle.poste.publication{
  display: none;
  align-items:center;
  justify-content: center;
  gap:10px;
}
.bottomSidepartiePoste .InputDouble .containeurInputStyle:nth-child(2){
  background: var(--color-green_boutons);
  color: #FFF;
  display: flex; 
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
}
.bottomSidepartiePoste .InputDouble{
  width: 90%;
  margin: 5px auto;
  margin-bottom: 20px;
}
.containeurInputStyle.integrite{
  background: var(--color-blanche-2);
}

.PostArticleForm{
  width: 90%;
  margin: 0px auto;
}
.swiper-wrapper.leftOption .swiper-slide.sesionOption{
  background: var(--color-blanche-2);
}
.text_demos{
  width: 95%;
  margin: 10px auto;
  font-size: 13px;
  color: var(--color-icons_Theme_blanche);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.swiper-slide.groupesideCreation .leftnav.groupeCreation,.swiper-slide.groupesideCreation .suivantBoutonsGroupe{
  display: none;
}
.SearchMessage.creationGroupe{
  width: 98%;
  margin: 10px auto;
  border-radius: 5px;
}
.SearchMessage{
  width: 100%;
  margin: 10px auto;
  background: var(--color-blanche-2);
  padding: 10px 12px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px auto;
}
.SearchMessage input{
  width: 100%;
  height:100%
}
.bottomSidepartiePoste .BoutonsRetoure{
  background: var(--color-green_boutons);
  color: #FFF;
  width: 60%;
  margin: 10px auto;
}
  
.BoutonsRetoure i{
  color: #FFF;
}
.BoutonsRetoure{
  width:100%;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  border-radius: 0px;
  color: #FFF;
  margin:0;
  
}
.carterPrinciplale{
 width: 100%;
 height: 100%;
}
.swiper-slide .conteneuramis .photoamis{
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius_cercle);
  background: var(--color-blanche-2);
}
.menuInterface{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}
.menuTopLeftBouton i{
  z-index: var(--z-index-1);
}
.menuTopLeftBouton{
  display: flex;
  align-items: center;
  justify-content: center;
 width: 60px;
 height: 60px;
  background: var(--color-blanche-1);
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  z-index: var(--z-index-1);
  left: 100px;
  bottom: 20px;
  box-shadow: var(--boxshadow_section_blanche);
}

.menuTopLeftBouton.active .menuOptionBottom{
  color:var(--color-text);
}
.menuToogleMore{
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  background: var(--color-blanche-1);
  position: absolute;
  transition:  transform .5s,width 0.2s,height 0.2s;
  transition-delay: .5s,0.1s ,0.1s;
  overflow: hidden;
}
.menuOptionBottom{
  width: 100%;
  height: 100%;
  color:var(--color-blanche-1);
  position: relative;
}

.menuTopLeftBouton.active .optionMenuHome{
  color: var(--color-text);
}
.optionMenuHome{
  color: var(--color-blanche-1);
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 10px 12px;
  cursor: pointer;
  gap:12px;
  justify-content: flex-start;
}
.menuTopLeftBouton.active .menuToogleMore{
  width: 300px;
  height: 300px;
  border-radius: 5px;
  background: var(--color-blanche-1);
  box-shadow: var(--boxshadow_section_blanche);
  transform: translatey(-200px);
  margin-left: 50px;
  color:var(--color-blanche-1);
  transition-delay: .1s,0.2s ,0.5s;
  opacity: 1 !important;
  overflow: hidden;
  padding: 10px;
}

.iconMenuFile{
  background: var(--color-blanche-2);
  box-shadow: var(--boxshadow_section_blanche);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.emotionIcons.share{
  position: relative;
}
.emotionIcons.share i{
  z-index: var(--z-index-2);
}
.menuchoix{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  gap:10px;
  border-bottom: 1px solid  var(--color-blanche-2);
}
.BoutonsAction:nth-child(2) i{
  color: #FFF;
}
.BoutonsAction:nth-child(2){
  background: var(--color-primary);
  color: #FFF;
  display: none;
}
.BoutonsAction{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding_boutons);
  gap:10px;
  background: var(--color-blanche-2);
  border-radius: 5px;
  cursor: pointer;

}
.menuOptionPartager.active,.menuOptionPartager.GroupeFrindsSelect.active,.menuOptionPartager.moreoption.active{
  max-height: 100%;
  height:100%;
  padding: 10px;
}

.menuOptionPartager .SearchMessage.creationGroupe input{
  padding-left: 10px;
}
.menuOptionPartager.GroupeFrindsSelect .SearchMessage.creationGroupe{
  height: 45px;
  padding: 12px;
  border-radius: 20px;
}
.menuOptionPartager .conteneuramis:hover{
background: transparent;
}
.menuOptionPartager.GroupeFrindsSelect,.menuOptionPartager.moreoption,
.menuOptionPartager{
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  max-height: 0%;
  background: var(--color-blanche-2);
  color:var(--color-blanche-2);
  transition:all .1s ease;
  z-index: 1000;
  background: var(--color-blanche-1);
}
.iconDiv.menuMedia{
  overflow: hidden;
  z-index: 700;
}
.formulaire {
  display: flex;
  width: 100%;
  margin: 10px auto;
  justify-content: center;
  gap: 10px;
}

.textChamp {
  background: var(--color-blanche-2);
  width: 80%;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  height: 60px;
}

.iconsPost .rightIcons {
  border: 1px solid var(--color-blanche-2);
  color: var(--color-text);
  padding: var(--padding_boutons);
  cursor: pointer;
  border-radius: var(--border-boutons);
}
.formulaire .iconDiv {
  background: var(--color-blanche-1);
  color: var(--color-text);
  width: 60px;
  height: 60px;
}
.iconsPost .leftIcon .iconDiv {
  border: 1px solid var(--color-blanche-2);
  background: none;
  box-shadow: none;
}
.iconsPost .rightIcons.newarnetphoto {
  border: 1px solid var(--color-blanche-2);
  font-size: 14px;
  color: var(--color-text);
}
.rightIcons.newarnetphoto i {
  padding-left: 10px;
  color: var(--color-text);
}
.leftIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconsPost {
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carterPoste img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.carterPoste {
  width: 80%;
  position: relative;
  margin: 5px auto;
  border: 1px solid var(--color-bordure-noire);
  border-radius: var(--border-boutons);
  box-shadow: var(--boxshadow_section_blanche);
  background: var(--color-blanche-1);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blocHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
}
.cartePhoto {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius_cercle);
  background: var(--color-blanche-2);
}
.nameUser small {
  font-size: 12px;
}
.nameUser h3{
  font-size: 16px;
  font-weight: 500;
}
.nameUser {
  display: flex;
  align-items: start;
  line-height: 20px;
  flex-direction: column;
}
.left_userpost .fa-solid.fa-earth-africa {
  padding-left: 10px;
}
.blocHead .rightmenu .iconDiv:hover {
  border:  1px solid var(--color-blanche-2);
  box-shadow: var(--boxshadow_section_blanche);
}
.blocHead .rightmenu .iconDiv {
  background: transparent;
  box-shadow: none;
  font-size: 20px;
  position: relative;
}
.menuOptionPost{
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  color: var(--color-blanche-1);
  position: absolute;
  /* background:var(--color-blanche-1); */
}
.menuPosteUseroWNER{
  transition:transform 0.2s,width 0.5s,height 0.2s;
transition-delay:  .2s,0.5s ,0.5s;
}
.menuOptionPost.active ~ .menuPosteUseroWNER{
width: 200px;
height: 200px;
background: var(--color-blanche-1);
position: absolute;
border-radius: 10px;
transition:transform 0.2s,width 0.5s,height 0.2s;
transition-delay:  0s,0.5s ,0.5s;
transform: translateY(100px);
margin-right: 50px;
}


.iconcontainerOption i,.Suivis.menuOptionRight{
  position: relative;
}

.confirmeBtn.boutonAdmettre.ajouter i{
  color:var(--color-text);
}
.confirmeBtn.boutonAdmettre.ajouter{
  background:var(--color-blanche-1);
  border:1px solid var(--color-text);
  color:var(--color-text);
}
.emotionIcons {
display: flex;
align-items: center;
justify-content: center;
padding: 12px 20px;
background: var(--color-blanche-2);
border-radius: 20px;
gap: 10px;
box-shadow: var(--boxshadow_section_blanche);
}
.left_userpost {
  display: flex;
  align-items: start;
  gap: 10px;
}
.corpPost img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.corpPost{
  background: var(--color-blanche-2);
  max-height: 400px;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.bottomIocnsEmotion {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 14px;
}
.emotionIcons span {
  font-size: 13px;
}
.menuRight .menuOptionRight {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 13px;
  border-radius: var(--border-boutons);
  position: relative;
}
.menuOptionRight:hover {
 border:1px solid var(--color-blanche-2);
}
.searchRight.activer{
  background: var(--color-blanche-2);
}
.searchRight input {
  width: 100%;
  padding-left: 15px;
  max-width: 0;
  width:100%;
}
.searchRight i{
  background: var(--color-blanche-2);
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
}
.searchRight {
  transition: all .2s ease;;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: var(--color-border-radius-arond);
}
.photoUserOwner img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}
.imagageOwnerComp::before{
  content:'+';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: -5px;
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--color-primary);
  color: #FFF;
  border: 2px solid var(--color-blanche-2);
}
.imagageOwnerComp{
  background: var(--color-blanche-1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  z-index: var(--z-index-3) !important;
  position: relative;
}
.swiper-slide.partiesOwner{
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:  1px solid var(--color-blanche-1);
  border-radius: 5px;
}
.swiper.mySwiper.status,.swiper-wrapper.ScrollPart{
  width: 100%;
  height: 100%;
}
.headerSatatus{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap:10px;
}
.headerSatatus .fa-solid.fa-arrow-left{
  padding-right: 10px;
}
.headerSatatus{
  background: rgba(0,0,0,.2);
  width: 100%;
  padding: 0;
  padding:  8px;
}
.headerSatatus .carterUsermessage{
  background: var(--color-blanche-1);
}
.swiper-slide.partyOneSatus .leftnav{
width: 80%;
padding: 17px;
margin: 10px auto;
background: var(--color-blanche-1);
}
.carterPostSatut .headerSatatus i{
  color: var(--color-text);
}
.carterPostSatut{
  width: 75%;
  background-image: url(../images/students_centrer.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 30px auto;
  height: 500px;
  border: 1px solid var(--color-blanche-1);
  border-radius: 10px;
}
.userphoto.statut{
  background: var(--color-blanche-1);
}
.swiper-slide.partyOneSatus{
  background: var(--color-blanche-2);
}

.swiper-slide.boook{
  width: 100%;
  height: 100%;
}
.swiper-slide.partyOneSatus .conversationuser{
  width: 80%;
  margin: 10px auto;
}
.swiper-slide.partyOneSatus{
  width: 100%;
  height: 100%;
  flex-direction: column;
  
}

.optionHome.active::before{
content: '';
width: 100%;
height: 3px;
border-radius: 40px;
background: var(--color-icons_Theme_noire);
position: absolute;
bottom: -15px;
transition: all .5s ease;
}
.optionsMen{
  width:100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
.menuHomeChoix{
  width: 100%;
  display: flex; 
  align-items: center;
  justify-content: space-around;
  padding: var(--padding_boutons);
  margin-bottom: 15px;
}
.optionHome{
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 12px;
}
.photoUserOwner span{
  font-size: 14px;
  opacity: .7;
  color: var(--color-icons_Theme_noire);
  margin-top: 7px;
}
.gridPhoto {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  padding: 20px;
}
.gridPhoto.Eplaza{
  max-height: 48vh;
  overflow-y: auto;
}
.containeurEplaza{
  width: 100%;
  height: 100%;
}
.feuilCorriger{
  height: 200px;
  margin-bottom: 5px;
}
.feuilCorriger .topFeuille.eplaza,.feuilCorriger .topFeuille img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridPhoto .feuilCorriger p{
  padding-top: 20px;
}
.feuilCorriger .topFeuille.eplaza{
  background: var(--color-blanche-2);
  width: 100%;
}
.feuilCorriger .topFeuille{
  width: 100%;
  background: var(--color-blanche-1);
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
}
.feuilCorriger p{
  width: 90%;
  margin: 5px auto;
  font-size: 15px;
  height: 10%;

}
.photoUserOwner{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.swiper-slide.sesionOption{
  position: relative;
}
.menuOptionRight.active {
  background: var(--color-blanche-2);
  color:var(--color-text);
}
input[type="checkBox"]{
  cursor: pointer;
}


.firndscartes,.containeurAmisAjouter,.containeruAmisDroite,.creergroupe{
display: none;
flex-direction: column;
max-width:100%;
width:100%;
max-height: 63vh;
}

.firndscartes{
  display: flex;
  flex-direction: column;
  max-width:100%;
  width:100%;
  max-height: 63vh;
}
.identiteUse {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}
.containerFriends {
  width: 90%;
  flex-direction: column;
  display: flex;
  cursor: pointer;
  align-items: start;
  justify-content: flex-start;
  margin: 10px auto;
}
.userPhotoCarte {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius_cercle);
  background: var(--color-blanche-2);
}
.containerFriends {
  width: 90%;
  flex-direction: column;
  display: flex;
  cursor: pointer;
  align-items: start;
  justify-content: flex-start;
  margin: 10px auto;
}
.userPhotoCarte {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius_cercle);
  background: var(--color-blanche-2);
}
.swiper-wrapper.menuDroiteAll .swiper-slide{
  background:var(--color-blanche-1);
  border-radius: 5px;
}
.menuUsers .menuOptionusers i{
  padding-right: 10px;
}
.menuUsers .menuOptionusers:hover{
  background: var(--color-primary);
  color: #FFF;
}
.menuUsers .menuOptionusers{
  display: flex;
  align-items: center;
  width:100%;
  justify-content: flex-start;
  padding: 12px;
  cursor: pointer;
  
  border-top: 1px solid var(--color-blanche-1);
}
.menuUsers.active{
  max-height: 150px;
  transition: all .2s ease;
}
.conteneuramis:hover{
  cursor: pointer;
}
.contenaireCreation{
  display: flex;
  gap:10px;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 2px auto;
  
}
.topGroupeSettings .MygroupeS{
  font-size: 14px;
  opacity: .5;
}
.creerBtn:hover{
  
  color: var(--color-text);
  border:  1px solid var(--color-primary);;
}

.creerBtn{
  width: 40%;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 12px;
  display: flex;
  justify-content: center;
  border-radius: 20px;

}
.textChamps.Groupena{
  background: var(--color-blanche-2);
  width:60%;
  border-radius: 20px;
}
.textChamps.Groupena input{
  width: 100%;
}

.inputSessionGroupecreate .textChamps{
  background: var(--color-blanche-2);
}
.SuivantGroupe{
  background: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  padding: var(--padding_boutons);
  margin: 5px auto;
}
.swiper-wrapper.CreationGroupe .conteneuramis:hover{
  background: none;
}
.contInputName input{
  width: 100%;
  height: 100%;
}
.contInputName{
  width: 100%;
  margin: 5px auto;
  border-radius: 5px;
  display:flex;
  align-items: center;
  background: var(--color-blanche-2);
  color:var(--color-text);
  border: 5px;
  padding: var(--padding_boutons);
}
.topGroupeSettings{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px auto;
}
.CreerGroupe i{
  padding-left: 10px;
  color: #FFF;
}
.CreerGroupe{
  padding: 12px;
  background: var(--color-green_boutons);
  color: #FFF;
  border-radius: 5px;
  width: 50%;
  margin: 0 10px;
}
.textCenter{
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  opacity: .5;
  color: var(--color-icons_Theme_noire);
  justify-content: center;
}
.menuUsers{
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--color-blanche-2);
  z-index: 1000;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 0px;
  height: 100%;
  transition: all .2s ease;
}
.swiper-slide.usersAfficher{
  position: relative;
}
.boutonsUserConfirme div:hover{
  opacity: .8;
}
.swiper.mySwiper.other{
  width: 100% !important;
}
.swiper-slide.droiteSession{
  background: var(--color-blanche-2);
  width: 100% !important;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.boutonsUserConfirme div{
  width: 130px;
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: center;
}
.boutonsUserConfirme {
  display: flex;
  align-items: center;
}
.identiteUse {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}
.boutonsUserConfirme {
  gap: 10px;
  display: flex;
}

.textCent.FriendsPropositions{
font-size: 16px;
width:80%;
}

.textCent{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  margin:10px auto;
  color: var(--color-icons_Theme_blanche);
}
.boutonAdmettre i{
  padding-left: 10px;
  color:#FFF;
}


.supprimerBtn.boutonAdmettre {
  background: var(--color-blanche-2);
  color: var(--color-text);
}

.supprimerBtn.boutonAdmettre.suivre{
  background:var(--color-green_boutons);
  color: #FFF;
}
.carteFriends.page {
  background: var(--color-green);
  width: 270px;
  height: 300px;
  border-radius: var(--border-boutons);
  border: 1px solid var(--color-blanche-1);
  flex-direction: column;
  overflow: hidden;
}
.containerFriesProposition {
  margin: 20px auto;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.swiper.mySwiper.MenuHome .swiper-slide{
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.swiper.mySwiper.MenuHome{
  width: 100%;
}

.carteFriends.swiper-slide{
  
  width: 250px !important;
  height: 300px;
  border-radius: var(--border-boutons);
  border: 1px solid var(--color-blanche-1);
  flex-direction: column;
  overflow: hidden;
}
.headerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 .InputDouble .containeurInputStyle.poste.publication{
  display:none;
  background:var(--color-primary) !important;
  color:#FFF;
}
.bottomFriendscarte .boutonsActions .confirmationBoutonsCnter i{
  padding-left:10px;
  color:#717171;
}

.bottomFriendscarte .boutonsActions .confirmationBoutonsCnter{
  width: 240px;
  padding: 5px;
  margin-bottom: 0;
  padding: 8px 12px;
}
.headerImage {
  width: 100%;
  height: 68%;
  background: var(--color-blanche-1);
}
.bottomFriendscarte {
  flex-direction: column;
  height: 32%;
  width:100%;
  padding: var(--padding_boutons);
  align-items: start;
  display: flex;
  padding: 7px 5px;
}
.bottomFriendscarte .boutonsActions .confirmationBoutonsCnter:nth-child(1) i{
  color:#fff;
}
.bottomFriendscarte .boutonsActions .confirmationBoutonsCnter:nth-child(1){
  background: var(--color-green_boutons);
  color: #FFF;
  border: none;
}
.bottomFriendscarte .boutonsActions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding:0px;
  align-items: center;
}
.leftnav.status{
  box-shadow: var(--boxshadow_section_blanche);
}
.moreFrieds{
  width: 50%;
  margin: 10px auto;
  background: var(--color-blanche-1);
  box-shadow: var(--boxshadow_section_blanche);
  opacity: .6;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  gap:10px;
  display: flex;
  align-items: center;
  color:var(--color-text);
  padding: 8px;
}


.bottomFriendscarte .namesUser h3{
  font-size: 15px;
}
.bottomFriendscarte .namesUser h3,.bottomFriendscarte .namesUser span{
  line-height: 18px;
  color: var(--color-text);
}
.containerFrinds.swiper-slide{
  width: 60px;
}

.centre_session .swiper.mySwiper .swiper-wrapper{
  gap:5px;
}
.Affiche.swiper-slide{
  width:290px !important;
  border-radius: 5px !important;
  overflow: hidden;
  height: 250px !important;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  position: relative;
}
.menuEplaza{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--color-blanche-1);
}
.Affiche.swiper-slide img{
border-radius: 10px;
}
.topArticlesBottom .photoamis{
  background: var(--color-blanche-1);
  border-radius: 10px;
}

.text-shwoSesion {
  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  margin: 10px auto;
}
.Userimage{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.Userimage i{
  cursor: pointer;
  font-size: 20px;
}
.Affiche.swiper-slide p{
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin: 5px auto;
  opacity: .7;
  font-size: 13px;
}
.imagePhoto{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}
.DetailArtcle small{
  font-size: 12px;
}
.DetailArtcle{
  display: flex;
  align-items:start;
  justify-content: flex-start;
  flex-direction: column;
}
.imagePhoto span{
  font-size: 13px;
}
.MenuIconElaza i{
  padding-left: 10px;
  font-size: 14px;
  color: #FFF;
}
.MenuIconElaza{
justify-content: flex-end;
position: absolute;
right: 10px;
background: var(--color-green_boutons);
color: #FFF;
cursor: pointer;
border-radius: 5px;
padding: 5px 10px;
}
.photoEplaza img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.photoEplaza{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--color-blanche-1);
}
.iconsPost .rightIcons:hover{
  background:var(--color-primary);
  color:#FFF !important;
}
.confirmationBoutonsCnter {
  width: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 8px 10px;
  border: 1px solid #BDBDBD;
  color: #fff;
  border-radius: 5px;
}
.confirmationBoutonsCnter.suivre {
  color: #101010;
  background: #fff;
}
.namesUser h3 {
  color: #fff;
  font-size: 20px;
}
.namesUser.page {
  font-size: 18px;
}
.namesUser.page span {
  font-size: 14px;
  color: #ffffff9c;
}
.namesUser span {
  font-size: 13px;
  color: #fff;
  opacity: 0.6;
}
.namesUser {
  line-height: 23px;
}

.topArtcle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topArtcle{
  background: var(--color-blanche-1) !important;
  height: 60% !important;
}
.OtherDetailsEplaza{
  width: 100%;
  height: 40% !important;
}
.conteneuramis {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 8px 10px;
  position: relative;
  margin: 10px auto;
  border-bottom: 1px solid var(--color-blanche-2);
}
.conteneuramis:hover{
  background: var(--color-blanche-2);
  cursor: pointer;
}

.photoamis {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius_cercle);
  background: var(--color-blanche-2);
}

.nomamis {
  display: flex;
  align-items: start;
  line-height: 20px;
  flex-direction: column;
}

.nomamis small {
  font-size: 12px;
}
.iconeamis {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  align-items: center;
  border-radius: var(--border-radius_cercle);
}

.conteneuralbum {
  width: 100%;
  display: none;
  grid-template-columns: 30% 30% 30%;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}
.imagealbum {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 1px solid;
}
.iconegroupe {
  width: 40%;
  height: 50px;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.iconegroupe:hover {
  transform: scale(1.1);
  background: var(--color-blanche-2);
  transition: 0.8s;
  border-radius: var(--border-boutons);
}
.voirgroupe:hover{
  background: var(--color-blanche-2);
}
.voirgroupe {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-blanche-2);
  padding: 8px 10px;
  position: relative;
}
.iconeamis.group {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--color-red-1);
  font-size: 13px;
}
.menuPosition{
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 10px;
}
.creation_du_groupe {
  width: 100%;
  height: 100%;
  background: var(--color-blanche-1);
}
.ecrire_nom_groupe {
  width: 100%;
}
.conteneur_creer_groupe {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  margin: 10px auto;
}
.CreationGroupeDroite{
  background: var(--color-blanche-1);
  width:100%;
  max-height:70vh;
  height: 100%;
}
.containerFrinds{
  width:100%;
}
.headerPatiesPoste span, .headerPatiesPoste span i{
  color: #FFF;
}
.headerPatiesPoste span i{
padding-right: 10px;
cursor: pointer;
}
.headerPatiesPoste{
  color: #FFF;
  border-radius: 5px 5px 0 0;
  display: flex;
  background: var(--color-primary);
  align-items: start;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}
.swiper-slide.posteSide .cartetPosteCreation{
  border-radius: 5px 5px 0 0;
  background: var(--color-blanche-1);
  width:80%;
  margin: 20px auto;
}
nav .leftnav .fa-solid.fa-ellipsis-vertical{
  display: none;
}
nav .leftnav .fa-solid.fa-magnifying-glass{
  display: flex;
}
.Faux-contacte .conteneuramis:hover{
  background:transparent;
}
.Faux-contacte,.conteneuramis{
  width:100%;
  border:none;
}


.containeurData{
  width:100%;
  max-height:100vh;
  overflow-y:auto;
  height:100%;
}
  @keyframes skeletonAnimation {
  0% {
    background-position: -200% 0; 
  }
  100% {
    background-position: 200% 0;
  }
}

.contenuPropositions{
  display:flex;
  padding:10px;
  position:relative;
}
.contenuPropositions .textEplaza{
  justify-content:flex-start;
  font-weight:100;
  color:#bdbdbd;
}
.containerPage.homepage{
width: 100%;
height: 100%;

}

.FormPost{
width: 100%;
padding: 10px;
align-items: center;
justify-content: center;
background: transparent;
padding: 3px;
margin: 15px auto;
position: relative;
}

.carterPartiesProposition{
  width:40%;
  height:98%;
  margin:20px auto;
  background:var(--color-blanche-1);
  overflow:hidden;
  transform:translateX(-100%);
 }
 .headerSideCarter{
  width:100%;
  height:70px;
  background:var(--color-primary);
  color:#FFF;
  display:flex;align-items:center;justify-content:center;
 }
 .containerUtilisateur{
  width:100%;
  height:100%;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  flex-direction:column;
 }


.profilephoto img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%
}
.profilephoto{
width:120px;height:120px;
background:var(--color-blanche-2);
border-radius:50%;
}
.UtilisateurInfos{
display:flex;
align-items:center;
flex-direction:column;
gap:10px;
margin-top:20px;
}
.nameUserNew span{
color:var();
}
.nameUserNew h3{
font-size:20px
}
.nameUserNew{
display:flex;
align-items:center;
justify-content:center;
width:100%;
gap:10px;
flex-direction:column;
}



.swiper.mySwiper.NewUserInterface{
  width:40%;
  margin:0px auto;
  height:100vh !important;
  background:var(--color-blanche-1);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:-1;
}

.InputDouble.inputs button i{
padding-left:10px;
}
.InputDouble.inputs button{
padding:15px;
cursor:pointer;
width:100%;
background:transparent;
border:1px solid var(--color-text);
color:var(--color-text);
border-radius:5px;

}
.InputDouble.inputs{
display:flex;
align-items:center;
margin:20px auto;
width:50%;
justify-content:space-between;
}

.swiper-wrapper.newUserCarte, .swiper-wrapper.newUserCarte .swiper-slide{
background:var(--color-blanche-1);
position:relative;
}

.textAjouterFriends{
width:90%;
display:flex;
align-items:center;
margin:12px auto;
text-align:center;
color:#BDBDBD;
}


.selectIcon i{ 
  font-size:16px;
  color:#414141;
  }
  .selectIcon{
  position:absolute;
  width:70px;
  box-shadow:var(--boxshadow_section_blanche);
  height:70px;
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:rgba(255,255,255,.5);
  cursor:pointer;
  padding:20px;
  }
hr.ligneBottom{
margin:10px auto;
border-bottom:1px solid var(--color-blanche-2);
width:100%;
}
.photoamis img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:5px;
}
.allContente{
width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
z-index:1;
}
.swiper-wrapper.menuDroiteAll{
background:var(--color-blanche-1);
border-radius: 5px;
height:100vh;
}
span.notification_counteur.active{
position: absolute;
width: 25px;
height: 25px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
color:#FFF;
font-size: 10px;
border-radius: 50%;
background: var(--color-red-1);
top:-15px;
border:1px  solid var(--color-blanche-2);
left:-15px;
}
#invitationDroite span.notification_counteur.active{
position: absolute;
width: 30px;
height: 30px;
border-radius:5px;
right:100%;
left:90%;
top:-10px;
}
.confirmeBtn.boutonAdmettre.ajouter.attente i{
color:#FFF;
}
.supprimerBtn.boutonAdmettre.suivre.supresion{
background:#b45e62;
color:#FFF;
border:none;
}
.confirmeBtn.boutonAdmettre.ajouter.attente{
background:#4d536a;
color:#FFF;
border:none;
}
#invitationDroite{
position:relative;
}
.btn.timeSelecte{
background:var(--color-blanche-2);
color:var(--color-text);
}
.BoutonsRetoure.add{
display:none;
border: 1px solid var(--color-text);
color:var(--color-text);
background:transparent;
}
.erreurImagesStory.Text_Norme{
color:var(--color-red-1);
}
.boutonAdmettre {
display: flex;
width: 100%;
align-items: center;
justify-content: flex-start;
padding: var(--padding_boutons);
color: var(--color-text);
border-radius: var(--border-boutons);
background:var(--color-green_boutons);
color: #FFF;
cursor: pointer;
}
.contaneurPropositions{
  width:100%;
  margin:10px auto;
  
}
.photoProfileUser img{
  width:100%;
  height:100%;
  object-fit:cover;
  cursor:pointer;
}
.photoProfileUser{
  width:150px;height:150px;background:var(--color-blanche-2);border-radius:50%;
  border:2px solid var(--color-primary);
}
.namesFriendPropo span{
  color: var(--color-icons_Theme_noire);
  font-size:13px;
}
.BoutonsRetoure.user i{
  color:#FFF;
  padding-left:12px;
}
.BoutonsRetoure.user{
  width:90%;
  margin:5px auto;
  border-radius:5px;
  cursor:pointer;
  padding:12px;
  background:var(--color-primary);
  color:#FFF;
}
.namesFriendPropo h3{
  font-size:18px;
}
.namesFriendPropo{
  width:100%;display:flex;align-items:center;
  flex-direction:column;
  gap:5px;
}
.mySwiper.profilephotoSuggestion{
  width:70%;
  margin:10px auto;
}
.mySwiper.profilephotoSuggestion .swiper-slide .headerSide{
  background:rgba(0,0,0,.3);
}
.mySwiper.profilephotoSuggestion .swiper-slide{
  width:100%;
  height:430px;
  border-radius:5px;
  background:var(--color-blanche-1);
  justify-content:flex-start;
  flex-direction:column;
  align-items:center;
}
.identiteUse{
  display:flex;
}
.identiteUse .nomamis small{
  font-size:12px;
  color:#FFF;
}
.identiteUse .nomamis h3{
  color:#FFF;
}
.identiteUse .photoamis{
  width:40px;
  color:#FFF;
  height:40px;
}
.swiper-slide.profilePhoto{
  background-image: url('../images/Af-1\ \(2\).jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.divText span:nth-child(2){
  cursor:pointer;
  padding: 5px 20px;
  border:1px solid var(--color-icons_Theme_blanche);
  color:var(--color-icons_Theme_blanche);
  border-radius:5px;
}
.swiper-slide.profilePhoto .divText span:nth-child(2){
  cursor:pointer;
  padding: 5px 20px;
  border:1px solid var(--color-icons_Theme_blanche);
  color:var(--color-icons_Theme_blanche);
  border-radius:5px;
}

.divText{
  width:100%;
  display:flex;
  align-items:center;justify-content:space-between;
  padding:10px;
}
.carterFriendsPropo .swiper.mySwiper  .swiper-slide{
  width:250px !important;
  height:300px;
  background:transparent !important;
  border:1px solid var(--color-blanche-1) !important;
  border-radius:5px;
  flex-direction:column;
  display:flex;;align-items:center;
  justify-content:center;
  gap:10px;
}
.carterFriendsPropo .swiper.mySwiper{
  width:100%;
  height:100%;
}
.carterFriendsPropo{
  width:100%;
  margin:0 auto;
}

.menuRight{
display: flex;
gap: 10px;
width: 100%;
justify-content: space-around;
border-bottom: 1px solid var(--color-blanche-2);
padding-bottom: 10px;
}
.swiper.mySwiper.MenuHome{
width:100%;height:100%;
}

.friendsOnline.swiper-wrapper{
display: flex;
justify-content: center;
align-items: center;
padding: 0;
height:0%
}
.headerSesionRight {
background: var(--color-blanche-1);
width: 100%;
margin: 0px auto;
display: flex;
flex-direction: column;
padding:0;
gap: 15px;
border-radius: 5px 5px 0 0;
align-items: center;
justify-content: space-around;
}
.swiper-slide.artclesSuggestion{
  background:green !important;
  width:10% !important;
  height:100px;
  border-radius:10px;
}

.swiper.mySwiper.MenuHome .swiper-slide{
width: 100%;
margin: 0 auto;
max-height: 40vh;
height:100%;
background: var(--color-blanche-1);
overflow-y: scroll;
display: flex;
}
.cartePage.propositions.swiper.mySwiper .friendsOnline {
display: flex;
align-items: center;
gap:20px;
width:100%;
height:50%;
position: relative;
margin:5px auto;
background:var(--color-blanche-1);
}
.partiePropositionEplazacarte .mySwiper{
  width:100%;height:100%;
  margin:5px;
}
.partiePropositionEplazacarte{
  width:100%;
  height:250px;
}
.partiePropositionEplazacarte .swiper-slide{
background:var(--color-blanche-2) !important;
height:100% !important;
width:200px !important;
}
.partiePropositionEplazacarte .swiper-wrapper{
  width:100%;
  height:100%;
}
span.nombVuesHomepage{
  color:#FFF !important;
}
.nombVuesHomepage{
  font-size:12px;
}
.divText.PropositionEplaza{
  align-items:start;justify-content:space-between;
  padding:5px;
  background:rgba(0,0,0,.3) !important;
}
.swiper-slide.profilePhoto.eplaza{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
.swiper-slide.profilePhoto.eplaza.proposition .divText span:nth-child(2) i{
  padding-left:10px;
}
.swiper-slide.profilePhoto.eplaza.proposition .divText span:nth-child(2){
  cursor:pointer;
  padding: 1px 5px;
  border:none;
  background:transparent;
  border:1px solid var(--color-primary);
  color:#FFF;
  border-radius:3px;
}
.swiper.mySwiper.partiePropositionEplazacarte{
  width:100%;
  padding:10px;
}
.conteneuramis.conversationHomepage:hover{
  background:transparent;
}
.leftnav.searchNav{
  width:90%;
  height:50px;
  margin:10px auto;
  border-radius:5px;
  border:1px solid var(--color-blanche-2);
  background:transparent;
}

#dataSearcheContent .nomamis h3,
.Faux-contacte .nomamis h3{
width:200px;
height:13px;
background:var(--color-blanche-2);
border-radius:10px;
}
.PopositionInvitation{
width:100%;
display:flex;align-items:center;
justify-content:center;
margin:10px auto;
flex-direction:column;
}
.PopositionInvitation .confirmeBtn i{
padding-left:10px;
}
.PopositionInvitation .confirmeBtn{
width:50%;
margin:10px auto;
display:flex;
justify-content:center;
align-items:center;
}
#dataSearcheContent .nomamis p,
.Faux-contacte .nomamis p{
width:130px;
height:10px;
margin-top:8px;
background:var(--color-blanche-2);
border-radius:10px;
}

#dataSearcheContent .conteneuramis .photoamis,
.Faux-contacte .conteneuramis .photoamis{
width:60px;
height:60px;
border-radius:50%;
}
.iconDiv i {
color: var(--color-icons_Theme_noire);
font-weight: bold;
}
.iconDiv {
height: 40px;
cursor: pointer;
width: 40px;
background:transparent;
box-shadow:none;
display: flex;
background:var(--color-blanche-2);
align-items: center;
justify-content: center;
border-radius: var(--border-radius_cercle);
}
#dataRechercheUserSecond .conteneuramis:hover{
background:transparent;
}
#dataRechercheUserSecond{
max-height: 75vh;
height: 100%;
overflow-y:auto;
width:100%;
}
a.conteneuramis:hover{
background:transparent;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  margin: 5px;
  margin-top: 0px !important;
  position: relative;
  z-index:-1;
  }
  .centre_session {
  margin-top:70px;
  width: 40%;
  margin-left: 23%;
  height: 100%;
  display: none;
  flex-direction: column;
  z-index:-1;
  }
  .leftmain,
  .droite_session {
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    display:none;
  }
  .contaneurImage{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
  }
  .photoImage img{
    width:100%;
    height:100%;
    object-fit:cover;
  }
  .photoImage{
    width:100px;height:100px;border-radius:5px;
    background:#FFF;
    margin-bottom:20px;
    overflow:hidden;
    box-shadow:var(--boxshadow_section_blanche);
  }
  .contaneurImage span{
    color:#BDBDBD;
    font-size:15px;
  }
  .barrScrolle div::before{
    position: absolute;
    content:'';
    top:0;left:0;
    bottom:0;
    background:var(--color-primary);
    animation: deplacementBar 2.5s cubic-bezier(0.65,0.81,0.73,0.4) infinite;
  }     
  .barrScrolle div::after{
    position: absolute;
    content:'';
    top:0;left:0;
    background:var(--color-primary);
    animation: deplacementBarAfter 2.5s cubic-bezier(0.16,0.44,1) infinite;
    animation-delay:1s;
  }     
  @keyframes deplacementBarAfter {
    0%{
      left:-200%;
      right:100%;
    }
    60%, 100%{
      left:107%;
      right:-8%;
    }
  }
  @keyframes deplacementBar {
    0%{
      left:-10%;
      right:100%;
    }
    60%, 100%{
      left:100%;
      right:-90%;
    }
  }
  .barrScrolle {
    width: 100%;
    position: absolute;
    top: 0;
    background:#BDBDBD;
    box-shadow: var(--boxshadow_section_blanche);
    height: 5px;
    overflow: hidden; 
  }
  .ConteneurToutepage{
    display:none;
    overflow:hidden;
    position:relative;
    z-index:1000000;
  }
  .mobileMenu,.bottomMenusIcons{
    display:none;
  }
  .emotionIcons{
box-shadow:none;
}
.photoProfileUser img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
}
    .cartecommentaire.notification{
        padding:10px;
      }
      .returnBtn{
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
      .textCenteNotification .returnBtn i{
        color:#212121 !important;
      }
      .textCenteNotification .returnBtn{
        background:#FFF !important;
        color:#212121 !important;
      }
      .textCenteNotification h3{
        color:#FFF !important;
      }
      .textCenteNotification{
  display: flex;
  align-items: center;
  padding: 10px;
  width:100%;
  height:60px;
  justify-content: space-between;
  gap:10px;
  margin:0px auto;
  background:var(--color-primary);
  border-radius:5px 5px 0 0 ;
}
      .cartecommentaire.notification .DetailArtcle h3{
        font-weight:500;
      }
      .cartecommentaire.notification .photoEplaza{
        border-radius:50%;
        width:50px;
        height:50px;
      }
      .dataNotificationAll,.dataConversationsAll{
        width:100%;
        max-height:64vh;
        overflow:auto;
        height:100%;
      }
      .tittreAlbum h2{
        font-size:20px;
        font-weight:500;
        color:#BDBDBD;
      }
      .tittreAlbum{
        display:flex;align-items:center;
        justify-content:flex-start;
        padding:10px;
      }
      #dataAlbum{
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 5px;
      width:100%;
      padding:5px;
      max-height: 78vh;
      height: 100%;
      overflow-y:auto;
      width:100%;
     
    }
    .conteneuramis.album {
      background: var(--color-linear-white);
      animation: skeletonAnimation 2s linear infinite;
      background-size: 200% 100%;
      border-radius:5px;
      margin-bottom:2px;
      height:200px;
      border:1px solid var(--color-blanche-2);
    }