@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
:root{
    --color-blanche-1:#ffffff;
    --color-blanche-2:#e8e8e8;
    --color-Noire-1:#08141a;
    --color-Noire-2:#243639;
    --color-text:#100f0f;
    --color-icons_Theme_blanche:#BDBDBD;
    --color-icons_Theme_noire:#7c7c7c;
    --color-primary: #0d876f;
    --color-titre:#0d876f;
    --color-addRelation:#51609b;
    --swiper-theme-color:var(--color-primary);
    --boxshadow_section_blanche: 0px 4px 10px rgba(0, 0, 0,.2);
    --color-blue:#b45e62;
    --color-jaune-text:rgb(255, 210, 121);
    --color-greenNoire: rgb(41, 41, 41);
    --color-titre_newarnet: #0d876f;
    --color-request:rgb(201, 245, 201);
    --color-green:var(--color-primary);
    --color-bordure-noire:rgba(0, 0, 0, 0.042);
    --color-red-1:rgb(246, 105, 105);
    --color-red-2:rgb(167, 31, 31);
    --color-green_boutons:#0d876f;
    --color-online:#00a400;
    --otherGreen:#47a351;
    --color-linear-white:linear-gradient(90deg, var(--color-blanche-1) 25%, var(--color-blanche-2) 50%, var(--color-blanche-1) 75%);
    /* LES MESURES DE L'INTERFACE */
    --padding_boutons:10px 12px;
    --border-radius_cercle:50%;
    --border-boutons:5px;
    --color-border-radius-arond:30px;
    --mesure-center:0 auto;
    --transform-animation:  transform 0.2s,width 0.2s,height 0.2s;
    --transition-delay: 1s,0.5s ,0.5s;
    --z-index-1:1000;
    --z-index-2:100;
    --z-index-3:10;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    color: var(--color-text);
    user-select:text;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video,hr,select,option,label,option {
    font: inherit;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    vertical-align: initial;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    padding: 0;
    color: var(--color-text);
    margin: 0;
    border: 0;
    font-weight: 100;
}
optgroup{
  font-weight: 100;
  color: var(--color-primary);
}
/* Pour les navigateurs WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 7px;/* Largeur de la barre de défilement */
    cursor:pointer;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color:var(--color-primary);
    display:none; /* Couleur du "thumb" (la partie déplaçable de la barre de défilement) */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color:var(--color-text); /* Couleur du "thumb" au survol */
    display:flex;
    cursor:pointer;
  }
  
  /* Pour les autres navigateurs */
  scrollbar {
    width: 7px; /* Largeur de la barre de défilement */
    cursor:pointer;
  }
  scrollbar-thumb {
    background-color:var(--color-primary); /* Couleur du "thumb" (la partie déplaçable de la barre de défilement) */
    display:none;
  }
  
  scrollbar-thumb:hover {
    background-color:var(--color-text); /* Couleur du "thumb" au survol */
    display:flex;
    cursor:pointer;
  }
  textarea {
    scrollbar-width: thin; /* Pour Firefox */
    scrollbar-color: transparent transparent; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Microsoft Edge */
    overflow-y: scroll; /* Pour les autres navigateurs */
    width: 100%;
    resize: none;
  }
  i{
    cursor: pointer;
    color: var(--color-icons_Theme_noire);
  }
input,textarea,button{
    background: transparent;
    color: var(--color-text);
    border: none;
    outline: none;
}
.interd{
    pointer-events: none !important;
    cursor: not-allowed !important;
    user-select: none !important;
    cursor:none !important;
    pointer-events: none !important;
    cursor: not-allowed !important;
    user-select: none !important;
    -webkit-touch-callout: none !important; /* Désactive le menu contextuel sur iOS */
    -webkit-user-drag: none !important; /* Empêche le glisser-déposer sur iOS */
}
.photoamis {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius_cercle);
  background: var(--color-blanche-2);
}

.titre_animation{
  color: transparent;
  font-size: 50PX;
  -webkit-text-stroke:  6px var(--color-titre) !important;
  -webkit-background-clip: text;
  background-size: contain;
  background-position: 0 0;
  }
  .btn{
    width:100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: var(--border-boutons);
    padding: var(--padding_boutons);
    color: var(--color-text);
  }
  .userphoto{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius_cercle);
    cursor: pointer;
    object-fit: cover;
  }
  .Text_Norme{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-jaune-text);
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
  }
  .textEplaza{
    margin: 5px auto;
    width:100%;
    color: var(--color-icons_Theme_noire);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
  }
  .containeurInputStyle{
    width:100%;
    display:flex;
    align-items: center;
    color: var(--color-text);
    background: var(--color-blanche-2);
    height: 55px;
    padding:var(--padding_boutons);
    margin-bottom: 5px;
    background: transparent;
    border:  1px solid var(--color-blanche-2);
    border-radius: 5px;
}
.carterUsermessage{
  width:50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-blanche-1);
  cursor: pointer;
  overflow: hidden;
}
.headerMessage{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  background: var(--color-primary);
  width: 100%;
}
.counteurBare {
  position: absolute;
  width: 0;
  background: var(--color-primary);
  height: 100%;
  transition: width .1s ease;
}
.barrScrolle {
  width: 100%;
  position: absolute;
  top: 0;
  background: #FFF;
  box-shadow: var(--boxshadow_section_blanche);
  height: 5px;
  overflow: hidden; 
}

.carterUsersOnline{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}
.onlineTime{
  position: absolute;
  right: 10px;
}
.swiper-wrapper.friendsOnline{
  padding: 10px 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center !important;
  gap:15px !important;
}
.nameUseronine{
  font-size: 13px;
  opacity: .8;
}
.conversationuser{
  width:100%;
  position: relative;
  padding: 7px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  gap:10px;
  justify-content: flex-start;
  border-bottom: 1px solid var(--color-bordure-noire);
}
.InputDouble{
  width:100%;
  display: flex;
  align-items: center;
  gap:10px;
}

.containeurpage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.headerphoto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containeurpage span{
  font-size: 14px;
  color: #605d5d;
  margin: 10px;
}

.onlineTime.messageColor{
  background: var(--color-red-1);
  color: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.mereAnimationclique .loading{
  width: 20px;
  height: 20px;
}
.mereAnimationclique span{
  font-size: 13px;
}
.mereAnimationclique{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.loading{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid var(--color-blanche-1);
  border-top:3px solid var(--color-primary);
  animation: loading  .7s linear infinite;
}
@keyframes loading {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
